/* -=-= Blurple Recolor =-=- */
:root {
		--accentcolor-hover:		rgba(var(--AccentColor), 1) linear-gradient(0deg, rgba(255,255,255,.15), rgba(255,255,255,.15));
		--accentcolor-active:		rgba(var(--AccentColor), 1) linear-gradient(0deg, rgba(255,255,255,.3), rgba(255,255,255,.3));
		--accentcolor2-hover:		rgba(var(--AccentColor), 1) linear-gradient(0deg, rgba(255,255,255,.15), rgba(255,255,255,.15));
		--accentcolor2-active:		rgba(var(--AccentColor), 1) linear-gradient(0deg, rgba(255,255,255,.3), rgba(255,255,255,.3));
		--blurple:		rgba(var(--AccentColor), 1) !important;
}

/* Blurple Recolor - Channels */
.channelNotice-tO6Tus.quickswitcher-35bYg4::before {
		filter: grayscale(0.5);
		background: url(https://discord.com/assets/8fdb69b7684b8e1ecb3fdde909daca41.svg) center 35px no-repeat;
}
.channelNotice-tO6Tus.premiumGuildSubscription-3oKecP {
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/channelnotice_premium_bg.svg) center 23px no-repeat;
}
.channelNotice-tO6Tus.premiumGuildSubscription-3oKecP::before {
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/channelnotice_premium_accent.svg) center 23px no-repeat;
}
.channelNotice-tO6Tus.premiumGuildSubscription-3oKecP::after {
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/channelnotice_premium_accent2.svg) center 23px no-repeat;
}
.channelNotice-tO6Tus.publicUpsell-31ZSJ8::before {
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/channelnotice_upsell_bg.svg) center 12px no-repeat;
}
.channelNotice-tO6Tus.publicUpsell-31ZSJ8::after {
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/channelnotice_upsell_accent.svg) center 12px no-repeat;
}
.art-114q3M {
		position: relative;
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/channelnotice_upsell_details.svg) center/cover no-repeat;
}
.art-114q3M::before,
.art-114q3M::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 4.5%;
		left: 0;
		pointer-events: none;
}
.art-114q3M::before {
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/channelnotice_upsell_bg.svg) center/cover no-repeat;
}
.art-114q3M::after {
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/channelnotice_upsell_accent.svg) center/cover no-repeat;
}

/* Blurple Recolor - Chat */
.image_faf5ab[src="/assets/60ea1d16163c13845ccf31e70fd6528b.svg"] {
		object-position: -999999px -999999px;
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/chatnotice_followchannel_bg.svg) center/contain no-repeat;
		width: 47px;
		height: 60px;
		margin-bottom: -8px;
}
.image_faf5ab[src="/assets/60ea1d16163c13845ccf31e70fd6528b.svg"] + * {
		overflow: visible;
}
.image_faf5ab[src="/assets/60ea1d16163c13845ccf31e70fd6528b.svg"] + *::after {
		content: "";
		position: absolute;
		bottom: 8px;
		left: 16px;
		width: 47px;
		height: 60px;
		pointer-events: none;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/chatnotice_followchannel_accent.svg) center/contain no-repeat;
}
.image_faf5ab[src="/assets/0e33fc3f60b69ba9b0247df60d589439.svg"] {
		object-position: -999999px -999999px;
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/chatnotice_verifyemail_bg.svg) center/contain no-repeat;
		width: 65px;
		height: 60px;
		margin-bottom: -16px;
}
.image_faf5ab[src="/assets/0e33fc3f60b69ba9b0247df60d589439.svg"] + * {
		overflow: visible;
}
.image_faf5ab[src="/assets/0e33fc3f60b69ba9b0247df60d589439.svg"] + *::after {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 16px;
		width: 65px;
		height: 60px;
		pointer-events: none;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/chatnotice_verifyemail_accent.svg) center/contain no-repeat;
}
.image_faf5ab[src="/assets/45372ebbfad1c491747d6f5b7117fd88.svg"] {
		object-position: -999999px -999999px;
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/chatnotice_verifyemail_bg.svg) center/contain no-repeat;
		width: 65px;
		height: 60px;
		margin-bottom: -16px;
}
.image_faf5ab[src="/assets/45372ebbfad1c491747d6f5b7117fd88.svg"] + * {
		overflow: visible;
}
.image_faf5ab[src="/assets/45372ebbfad1c491747d6f5b7117fd88.svg"] + *::after {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 16px;
		width: 65px;
		height: 60px;
		pointer-events: none;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/chatnotice_verifyemail_accent.svg) center/contain no-repeat;
}

/* Blurple Recolor - Search */
#app-mount .activeButton-LRWFC_,
#app-mount .activeButton-LRWFC_:hover {
		background-color: rgba(var(--AccentColor), 1);
}
.noResultsImage_c2b47d.alt_c2b47d {
		display: flex;
}
.noResultsImage_c2b47d.alt_c2b47d::before {
		content: "";
		position: absolute;
		width: 160px;
		height: 160px;
		pointer-events: none;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/searchpage_noresults_accent.svg) center/cover no-repeat;
}

/* Blurple Recolor - Calls */
.sparkleBlurple_d642cb {
		background-image: url(https://discord.com/assets/c7539bb38577495f5021c8ea455c7145.png);
}
.popBlurple__2642d {
		background-image: url(https://discord.com/assets/237a2f9325a83d230fb30b2cd63bbfe6.png);
}
.lightBlurple__1956c {
		background-image: url(https://discord.com/assets/1c20f6ecd2d83c1844a3fd6da306d239.png);
}
.crossBlurple_b0f0f9 {
		background-image: url(https://discord.com/assets/c13a0b03a798023c27155fad5f0c7a61.png);
}
.background_f3801e[style*="background-color: rgb(92, 100, 244)"],
.background_f3801e[style*="background-color: hsl(235, "],
.background_f3801e[style*="background-color: hsl(227, "] {
		background-color: rgba(var(--AccentColor), 1) !important;
}

/* Blurple Recolor - Keyboard Shortcuts */
.ddrArrows_ad95dc .arrow_ad95dc,
.ddrArrows_ad95dc .arrow_ad95dc::after {
		height: 50px;
		width: 50px;
}
.ddrArrows_ad95dc .arrow_ad95dc.active_ad95dc {
		filter: brightness(50%);
}
.ddrArrows_ad95dc .arrow_ad95dc {
		position: relative;
		animation: none !important;
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/keybinds_arrows_bg.svg) center/contain no-repeat !important;
}
.ddrArrows_ad95dc .arrow_ad95dc::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/keybinds_arrows_accent.svg) center/contain no-repeat;
}
.ddrArrows_ad95dc .arrow_ad95dc.down_ad95dc {
		transform: rotate(270deg);
}
.ddrArrows_ad95dc .arrow_ad95dc.up_ad95dc {
		transform: rotate(90deg);
}
.ddrArrows_ad95dc .arrow_ad95dc.right_ad95dc {
		transform: rotate(180deg);
}

/* Blurple Recolor - Login Screen */
.authBox_dc6abe img[src="/assets/0f4d1ff76624bb45a3fee4189279ee92.svg"] {
		object-position: -999999px -999999px;
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/login_authbox_bg.svg) center/cover no-repeat;
}
.authBox_dc6abe img[src="/assets/0f4d1ff76624bb45a3fee4189279ee92.svg"] + * {
		position: relative;
		display: flex;
		justify-content: center;
}
.authBox_dc6abe img[src="/assets/0f4d1ff76624bb45a3fee4189279ee92.svg"] + *::before {
		content: "";
		position: absolute;
		top: -107px;
		width: 124px;
		height: 84px;
		pointer-events: none;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/login_authbox_accent.svg) center/cover no-repeat;
}

/* Blurple Recolor - Server Boost - Settings */
.headerGraphic-1PsHkb[src="/assets/071e743e602763497a5e394510b68f28.svg"] {
		object-position: -999999px -999999px;
		width: 96px;
		height: 60px;
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/guildsettings_boostheader_bg.svg) center/cover no-repeat;
}
.headerGraphic-1PsHkb[src="/assets/071e743e602763497a5e394510b68f28.svg"] + *:not(svg),
.headerGraphic-1PsHkb[src="/assets/071e743e602763497a5e394510b68f28.svg"] + svg + * {
		position: relative;
}
.headerGraphic-1PsHkb[src="/assets/071e743e602763497a5e394510b68f28.svg"] + *:not(svg)::before,
.headerGraphic-1PsHkb[src="/assets/071e743e602763497a5e394510b68f28.svg"] + svg + *::before,
.headerGraphic-1PsHkb[src="/assets/071e743e602763497a5e394510b68f28.svg"] + *:not(svg)::after,
.headerGraphic-1PsHkb[src="/assets/071e743e602763497a5e394510b68f28.svg"] + svg + *::after {
		content: "";
		position: absolute;
		top: -132px;
		left: calc((100% - 96px) / 2);
		width: 96px;
		height: 60px;
		pointer-events: none;
}
.headerGraphic-1PsHkb[src="/assets/071e743e602763497a5e394510b68f28.svg"] + *:not(svg)::before,
.headerGraphic-1PsHkb[src="/assets/071e743e602763497a5e394510b68f28.svg"] + svg + *::before {
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/guildsettings_boostheader_accent.svg) center/cover no-repeat;
}
.headerGraphic-1PsHkb[src="/assets/071e743e602763497a5e394510b68f28.svg"] + *:not(svg)::after,
.headerGraphic-1PsHkb[src="/assets/071e743e602763497a5e394510b68f28.svg"] + svg + *::after {
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/guildsettings_boostheader_accent2.svg) center/cover no-repeat;
}
.wrapper_adaea0 {
		background: rgb(255, 255, 255) linear-gradient(90deg, rgba(var(--AccentColor), 1), rgba(var(--accentcolor2), 0.5));
}
.wrapper_adaea0::before,
.wrapper_adaea0::after {
		content: "";
		position: absolute;
		top: -44px;
		right: -82px;
		width: 168px;
		height: 88px;
		pointer-events: none;
}
.wrapper_adaea0::before {
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/guildsettings_boostangel_bg.svg) center/cover no-repeat;
}
.wrapper_adaea0::after {
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/guildsettings_boostangel_accent2.svg) center/cover no-repeat;
}
#app-mount .wrapper_adaea0 .lookInverted-2mDUMi.colorBrand-I6CyqQ {
		color: rgba(var(--AccentColor), 1) !important;
}
.tierMarkerLabelPlusIcon-2zLkr7 {
		color: rgba(var(--AccentColor), 1);
}
.upsellFooterIcon-2105bD path {
		fill: rgba(var(--AccentColor), 1);
}
.perkIconGuild-KLNhuR {
		color: rgba(var(--AccentColor), 1);
}
.perkIconChatPerks-BnKNFh {
		color: rgba(var(--AccentColor), 1);
		filter: brightness(120%);
}
.perkIconStream-7wqAvn {
		color: rgba(var(--AccentColor), 1);
		filter: brightness(150%);
}

/* Blurple Recolor - Screenshare */
#app-mount .art-2OaYX0 {
		position: relative;
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/screenshare_header_bg.svg) center/contain no-repeat;
}
.art-2OaYX0::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/screenshare_header_accent.svg) center/contain no-repeat;
}
#app-mount .art-11ppxi[src="/assets/3f8ff16e485080df4e54267370420785.png"] + * {
		position: static;
}
#app-mount .art-11ppxi[src="/assets/3f8ff16e485080df4e54267370420785.png"] + *::after {
		content: "";
		position: absolute;
		top: 0;
		border: 0px solid rgba(var(--AccentColor), 1);
		border-width: 29px 26px;
		width: 225px;
		height: 149px;
		margin: -24px -112.5px 8px;
		box-sizing: border-box;
}

/* Blurple Recolor - Custom Status */
.art-2p0nYa {
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/customstatus_header_bg.svg) center/contain no-repeat;
}
.art-2p0nYa::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/customstatus_header_accent.svg) center/contain no-repeat;
}

/* Blurple Recolor - Server Discovery */
.image-2Qw4tp[src="/assets/7f62c4c1f689de046a6ad83020c897ad.svg"],
.footerImage-1wk000[src="/assets/7f62c4c1f689de046a6ad83020c897ad.svg"] {
		object-position: -999999px -999999px;
		background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/blurple/discovery_house.svg) center/contain no-repeat !important;
}
