/* -=-= Call UI =-=- */
/* Call Buttons */
.colorable_ef18ee.white_ef18ee, .colorable_ef18ee.white_ef18ee.active-1QRrIS, .colorable_ef18ee.white_ef18ee:hover {
		background: rgba(var(--AccentColor), 1);
}
.colorable_ef18ee.primaryDark_ef18ee[aria-label*="Mute"] svg {
		-webkit-mask: url("https://i.imgur.com/uowLiRY.png") center/cover;
		width: 22px;
		height: 22px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.colorable_ef18ee.white_ef18ee[aria-label*="Unmute"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		width: 22px;
		height: 22px;
		background: rgb(0, 0, 0);
		color: rgb(0, 0, 0);
}
.colorable_ef18ee.primaryDark_ef18ee[aria-label*="Turn On Camera"] svg {
		-webkit-mask: url("https://i.imgur.com/CgkqQF0.png") center/cover;
		width: 22px;
		height: 22px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.colorable_ef18ee.white_ef18ee[aria-label*="Turn Off Camera"] svg {
		-webkit-mask: url("https://i.imgur.com/CgkqQF0.png") center/cover;
		width: 22px;
		height: 22px;
		background: rgb(0, 0, 0);
		color: rgb(0, 0, 0);
}
.colorable_ef18ee.white_ef18ee.active_ef18ee, .colorable_ef18ee.white_ef18ee:hover {
    background: rgba(var(--AccentColor), 1);
}
.colorable_ef18ee.primaryDark_ef18ee[aria-label*="Share Your Screen"] svg {
		-webkit-mask: url("https://i.imgur.com/9tkLDi5.png") center/cover;
		width: 22px;
		height: 22px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.colorable_ef18ee.white_ef18ee[aria-label*="Stop Streaming"] svg {
		-webkit-mask: url("https://i.imgur.com/jeh7qQQ.png") center/cover;
		width: 22px;
		height: 22px;
		background: rgb(0, 0, 0);
		color: rgb(0, 0, 0);
		bottom: 5px !important;
}
.colorable_ef18ee.red_ef18ee[aria-label*="Disconnect"] svg {
		-webkit-mask: url("https://i.imgur.com/icr6AHF.png") center/cover;
		width: 22px;
		height: 22px;
		background: rgb(0, 0, 0);
		color: rgb(0, 0, 0);
}

/* Screenshare - Mute/Deafen Removal */
.statusContainer_ba4b17 {
		 display: none;
}
.slash_c0ba36 {
		display: none;
}
/* Screenshare Button */
.titleIcon_ba4b17 {
		-webkit-mask: url("https://i.imgur.com/9tkLDi5.png") center/cover;
		width: 22px;
		height: 22px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
/* Screenshare UI Icons */
.button_ae6b8e[aria-label*="Participants"] svg {
		-webkit-mask: url("https://i.imgur.com/1n4ZW34.png") center/cover;
		width: 24px;
		height: 24px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.button_ae6b8e[aria-label*="Focus"] svg {
		-webkit-mask: url("https://i.imgur.com/waOuTkX.png") center/cover;
		width: 24px;
		height: 24px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
		transform: rotate(90deg);
}
.button_ae6b8e[aria-label*="Grid"] svg {
		-webkit-mask: url("https://i.imgur.com/LvHJAhS.png") center/cover;
		width: 24px;
		height: 24px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.lastButton_ae6b8e[aria-label*="More"] svg {
		-webkit-mask: url("https://i.imgur.com/XK8F1QZ.png") center/cover;
		width: 24px;
		height: 24px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}

.active_ef18ee svg {
  transform: rotate(180deg);
}
.rightTrayIcon_d880dc {
		margin-left: 0px;
		margin-right: 10px;
}
.rightTrayIcon_d880dc[aria-label*="Pop Out"] svg {
		-webkit-mask: url("https://i.imgur.com/Ogv51zn.png") center/cover;
		width: 24px;
		height: 24px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.rightTrayIcon_d880dc[aria-label*="Full Screen"] svg {
		-webkit-mask: url("https://i.imgur.com/ckPvECt.png") center/cover;
		width: 24px;
		height: 24px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.rightTrayIcon_d880dc[aria-label*="Exit Full Screen"] svg {
		-webkit-mask: url("https://i.imgur.com/dPwezBI.png") center/cover;
		width: 24px;
		height: 24px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.leftTrayIcon_d880dc[aria-label*="Invite"] svg {
		-webkit-mask: url("https://i.imgur.com/GTLwUuW.png") center/cover;
		width: 24px;
		height: 24px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
/* Screenshare Invite Box */
.art_e5cc00.medium_e5cc00 {
		display: none;
}
.tile_dc5fc4 .header_e5cc00 {
  display: none;
}
.tile_dc5fc4 {
		background-color: rgba(var(--PrimaryBG));
}
.outerButton_e5cc00 {
		margin: 0 0;
}
.button_e5cc00 {
		-webkit-mask: url("https://i.imgur.com/GTLwUuW.png") center/cover;
		width: 25px;
		height: 25px;
		background-color: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
		animation: fading 5s infinite;
}
.button_e5cc00:hover {
		background-color: rgba(var(--AccentColor), 1);
}
.live_e17fae {
		padding: 0 5px;
		-webkit-mask: url("https://i.imgur.com/9r5oCHb.png") center/cover;
		width: 10px;
		height: 10px;
		background-color: var(--red);
		color: var(--red);
		animation: fading 2s infinite;
}
.liveQualityIndicator-8fb_DX {
		margin-right: 5px;
		height: 15px;
		min-width: 15px;
		min-height: 15px;
		font-size: 15px;
		line-height: 20px;
		font-weight: 600;
}
.button_ae6b8e, .divider_ae6b8e {
		margin-right: 10px;
}
.qualityIndicatorLowQuality-2RQkaB {
		color: rgba(var(--AccentColor), 1);
}
.videoControls_dd069c {
		padding: 0 0;
}
/* Always visible header and buttons, thanks to Gibbu#1211! */
.root_dd069c.idle_dd069c .topControls_dd069c,
.root_dd069c.idle_dd069c .bottomControls_dd069c {
  transform: none;
  opacity: 1;
}
.bottomControls_dd069c {
		padding: 0 0;
		margin: 0 0;
		height: 45px;
		border-top: 2px solid rgba(var(--AccentColor), 1);
}
.gradientBottom_dd069c, .gradientTop_dd069c {
		display: none;
}

/* Call Buttons */
.centerButton_ef18ee {
		padding: 5px 10px 5px 10px;
		transition: none;
		margin: 0 0;
}
.centerButton_ef18ee[aria-label*="Share Your Screen"] {
		padding: 10px;
		margin-bottom: 14px;
		margin-right: 14px;
}
.centerButton_ef18ee[aria-label*="Stop Streaming"] {
		padding: 10px;
		margin-bottom: 14px;
		margin-right: 14px;
}
.centerButton_ef18ee[aria-label*="Disconnect"] {
		padding: 10px;
		margin-bottom: 14px;
}
.contextMenuNub_ef18ee {
		bottom: 14px;
		right: 14px;
		padding: 0;
		width: 42px;
		height: 13px;
		transition: none;
}
.colorable_ef18ee.primaryDark_ef18ee {
		background: rgba(var(--SecondaryBG));
}
.controlButton_b6e2f9 {
		margin: 0 0;
		top: 10px;
}

.container_e44302.transparent_e44302 .toolbar_e44302 {
		margin-right: 16px;
}
.wrapper_d880dc.minimum_d880dc {
		height: 300px;
		background-color: rgba(var(--PrimaryBG));
}
.wrapper_d880dc.minimum_d880dc .callContainer_d880dc {
		border-bottom: 2px dashed rgba(var(--AccentColor), 1);
		padding-bottom: 7px;
}
.disableFlex-3I_kDH {
		display: none;
}

.noiseCancellationPopout_adcaac {
    background: rgba(var(--SecondaryBG));
    box-shadow: none;
    width: 250px;
    padding: 10px;
}
