/* -=-= Channels =-=- */
/* Channel Footer - Icons */
button[aria-label="User Settings"] svg {
		opacity: 0;
}
button[aria-label="User Settings"]:not(.actionButton-3WMLvV):before {
		content: "";
		width: 40px;
		height: 40px;
		position: absolute;
		-webkit-mask: url("https://i.imgur.com/pYqekDg.png") center/20px no-repeat !important;
		background-color: rgba(var(--AccentColor), 1);
}
.button__67645 {
		width: 25px;
		height: 25px;
		color: rgba(var(--AccentColor), 1);
}
.withTagAsButton_b2ca13, .withTagless_b2ca13 {
		flex-grow: 2;
}
.withTagAsButton_b2ca13:hover, .withTagless_b2ca13:hover {
	background-color: rgba(var(--PrimaryBG));
}
.nameTag__37e49.canCopy__37e49 {
	cursor: crosshair;
}
.button__201d5 .contents__201d5 {
    background: transparent;
}

/* Channel Header */
.visual-refresh .header_f37cb1 {
		font-weight: 500;
		padding: 11px 15px;
		color: rgba(var(--AccentColor), 1);
		border-bottom: 2px solid rgba(var(--AccentColor), 1) !important;
}
.sectionDivider__629e4 {
    display: none;
}

/* Category/Role name */
.container__13cf1 {
		text-transform: none;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0;
		font-weight: 600;
}
.containerDefault__29444, .containerDragAfter__29444, .containerDragBefore__29444, .containerUserOver__91b97 {
		padding-top: 5px;
}

/* Channel List */
.wrapper__2ea32 {
		padding: 0;
}
.link__2ea32 {
    cursor: crosshair;
    padding: 2px 5px;
    margin-left: 0;
}
.wrapper__2ea32:hover .link__2ea32 {
		padding: 2px 5px;
    margin-left: 2px;
}
.name__2ea32 {
		font-size: 15px;
		font-weight: 500;
}
.mainContent-20q_Hp {
		padding: 3px 0;
		cursor: crosshair;
}
.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32:hover .link__2ea32, .wrapper__2ea32:active .link__2ea32 {
		background-color: rgba(var(--PrimaryBG));
}
.wrapper__2ea32:hover .wrapper__2ea32 {
	 animation: rainbow 5s linear infinite;
}

.modeUnreadImportant__2ea32 .name__2ea32,
.modeUnreadImportant__2ea32:hover .name__2ea32  {
		color: rgba(var(--AccentColor), 1);
}


/* Channel List - User Profile/Status */
.panels_c48ade {
		background-color: rgba(var(--PrimaryBG));
}
.visual-refresh .container__37e49 {
		height: 55px;
		font-size: 15px;
		font-weight: 500;
		padding: 0 5px 0 5px;
		margin-bottom: 0;
		border-top: 2px solid rgba(var(--AccentColor), 1);
		z-index: 1;
		background: rgba(var(--TertiaryBG), 1);
}
.visual-refresh .panels_c48ade {
    border: none;
    left: 0;
    bottom: 0;
    width: calc(105% - var(--custom-panels-spacing)*2);
}

/* Channel Unread Pill */
.unreadImportant__2ea32 {
		background-color: rgba(var(--AccentColor), 1); 
}
.unread__2ea32 {
		height: 10px;
		width: 5px;
		margin-top: -5px;
}

/* Channel Buttons */
.iconBase_c69b6d {
		margin-left: 5px;
}
:where(.visual-refresh) .selectedChannel_c69b6d .actionIcon_c69b6d, :where(.visual-refresh) .selectedChannel_c69b6d .actionIcon_c69b6d:hover {
   color: rgba(var(--AccentColor), 1);
}
:where(.visual-refresh) .actionIcon_c69b6d, :where(.visual-refresh) .actionIcon_c69b6d:hover {
   color: rgba(var(--AccentColor), 1);
}
.iconItem_c69b6d:hover .actionIcon_c69b6d {
    color: rgba(var(--AccentColor), 1);
}
.iconItem_c69b6d[aria-label*="Create Invite"] {
		 -webkit-mask: url("https://i.imgur.com/jUqUct8.png") center/cover;
		 width: 16px;
		 height: 16px;
		 background: rgba(var(--AccentColor), 1);
}
.iconItem_c69b6d[aria-label*="Invite to Server"] {
		-webkit-mask: url("https://i.imgur.com/GTLwUuW.png") center/cover;
		 width: 20px;
		 height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.iconItem_c69b6d[aria-label*="Edit Channel"] {
		 -webkit-mask: url("https://i.imgur.com/5AZqlJo.png") center/cover;
		 width: 12px;
		 height: 12px;
		 background: rgba(var(--AccentColor), 1);
}
.iconItem_c69b6d[aria-label*="Open Chat"] {
		 -webkit-mask: url("https://i.imgur.com/DjtCQDi.png") center/cover;
		 width: 18px;
		 height: 18px;
		 background: rgba(var(--AccentColor), 1);
}
[aria-label="Open Chat"].iconItem_c69b6d {
    padding: 2px 0;
}

/* Channel Icons */
.icon__2ea32 {
		color: rgba(var(--AccentColor), 0.5);
}
.modeSelected__2ea32 .icon__2ea32, .modeSelected__2ea32:hover .icon__2ea32, .modeUnreadImportant__2ea32 .icon__2ea32, .modeUnreadImportant__2ea32:hover .icon__2ea32 {
		color: rgba(var(--AccentColor), 1);
}
.iconContainer__2ea32 {
		margin-right: 5px;
}
.iconContainer__2ea32[aria-label*="Text"] {
		-webkit-mask: url("https://i.imgur.com/mXDdMKg.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.iconContainer__2ea32[aria-label*="Voice"] {
		-webkit-mask: url("https://i.imgur.com/JEQfCHt.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.iconContainer__2ea32[aria-label*="Rules"] {
		-webkit-mask: url("https://i.imgur.com/hcQYiIs.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.iconContainer__2ea32[aria-label*="Announcements"] {
		-webkit-mask: url("https://i.imgur.com/ykbiZPl.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.iconContainer__2ea32[aria-label*="Stage"] {
		-webkit-mask: url("https://i.imgur.com/mTdnED7.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.iconContainer__2ea32[aria-label*="Locked"] {
		-webkit-mask: url("https://i.imgur.com/yWTYMT5.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.iconContainer__2ea32[aria-label*="Forum"] {
		-webkit-mask: url("https://i.imgur.com/DjtCQDi.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
/* Channels & Roles */
.visual-refresh .basicChannelRowLink__2ea32 {
    min-height: 25px;
    margin-left: -28px;
}
.visual-refresh .basicChannelRowLink__2ea32:hover {
    min-height: 25px;
    margin-left: -26px;
}
.content__65844 {
    margin-left: 20px;
}
.wrapper__2ea32:hover .link__2ea32 {
    background: transparent;
		border-left: solid 2px rgba(var(--AccentColor), 1);
}
.modeSelected__2ea32 .link__2ea32 {
    background: transparent;
}
.wrapper__2ea32 .focusTarget__89030[id*="upcoming-events"] {
		-webkit-mask: url("https://i.imgur.com/6cq4uJN.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		position: absolute;
		left: 2px;
		top: 2px;
}
.wrapper__2ea32:hover .focusTarget__89030[id*="upcoming-events"] {
		left: 7px;
}
.wrapper__2ea32 .focusTarget__89030[id*="channels"] {
		-webkit-mask: url("https://i.imgur.com/ztvQmGy.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		position: absolute;
		left: 2px;
		top: 2px;
}
.wrapper__2ea32:hover .focusTarget__89030[id*="channels"] {
		left: 7px;
}
.wrapper__2ea32 .focusTarget__89030[id*="members"] {
		-webkit-mask: url("https://i.imgur.com/ctWX4nh.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		position: absolute;
		left: 2px;
		top: 2px;
}
.wrapper__2ea32:hover .focusTarget__89030[id*="members"] {
		left: 7px;
}
.wrapper__2ea32 .focusTarget__89030[id*="home"] {
		-webkit-mask: url("https://i.imgur.com/NIgY5sU.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		position: absolute;
		left: 2px;
		top: 2px;
}
.wrapper__2ea32:hover .focusTarget__89030[id*="home"] {
		left: 7px;
}
.containerDefault_c69b6d[data-list-item-id*="channels___home"] svg {
		-webkit-mask: url("https://i.imgur.com/NIgY5sU.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.containerDefault_c69b6d[data-list-item-id*="channels___upcoming-events"] svg {
		-webkit-mask: url("https://i.imgur.com/6cq4uJN.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.containerDefault_c69b6d[data-list-item-id*="channels___guild-active-threads"] svg {
		-webkit-mask: url("https://i.imgur.com/iWVN2ev.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
/* NSFW Channel Icon */
#app-mount .linkTop__2ea32 .iconContainer__2ea32 [aria-label*="Text (Age-Restricted)"] svg {
  color: (var(--green)) !important;
	background: (var(--green)) !important;
}
.iconContainer__2ea32 .icon__2ea32[xmlns*="http://www.w3.org/2000/svg"] {
		display: none;
}

/* Thread Spine */
.spine__5b40b {
		-webkit-mask: url("https://i.imgur.com/5ixlf8e.png") center/cover;
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--AccentColor), 1);
		height: 20px;
		width: 20px;
		left: 15px;
		top: 0px;
}
.spine__5b40b[style*="transform: rotateX(180deg) translateY(-9px)"], .spineBorder__5b40b {
		display: none;
}

/* Channel List Width [Counts for DM List] */
#app-mount .sidebar_c48ade {
		width: 300px !important; }

/* Status Picker */
.menu_c1e9c4[id*="status-picker"] {
		padding: 0;
		min-width: 300px;
		width:  300px;
		top: 5px;
		right: 0;
}
[style*="position: fixed; bottom: 108.5px; left: 5px;"].layer-2aCOJ3 {
		left: -40px !important;
		bottom: 102px !important;
}
.separator-1So4YB {
		margin: 0px;
		border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}
.description_e0f739 {
  display: none;
}
.item-1OdjEX[id*="status-picker"] {
		margin: 0px 0px;
		padding: 0px 5px 0px 5px;
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
		cursor: crosshair;
}
.scroller-1bVxF5 .thin__99f8c .scrollerBase-_bVAAt[id*="status-picker"] {
  padding: 0;
}
.hintContainer-2UwhLP svg {
		-webkit-mask: url("https://i.imgur.com/j4viHnK.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}

.caret-2MOQD6, .image-21g2ca {
	height: 22px;
}

.item-1OdjEX[id="account-switch-account"] .iconContainerLeft-2NHJgN svg {
		-webkit-mask: url("https://i.imgur.com/pIhRo0u.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.activeIcon_d40c56 {
	display: none;
}
.statusItemNoPadding_e0f739 {
    padding: 5px;
}

/* Voice Channel Icons */
.button__67645[aria-label*="Mute"][aria-checked*="false"] svg {
		-webkit-mask: url("https://i.imgur.com/uowLiRY.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.button__67645[aria-label*="Mute"][aria-checked*="true"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(241, 86, 86);
		color: rgb(241, 86, 86);
}
.button__67645[aria-label*="Deafen"][aria-checked*="false"] svg {
		-webkit-mask: url("https://i.imgur.com/kVJyJEN.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
				color: rgba(var(--AccentColor), 1);
}
.button__67645[aria-label*="Disconnect"] svg {
	 -webkit-mask: url("https://i.imgur.com/icr6AHF.png") center/cover;
	 width: 20px;
	 height: 20px;
	 background: rgba(var(--AccentColor), 1);
}
.button__67645[aria-label*="Noise Suppression"] {
	 display: none;
}
.button__67645[aria-label*="Deafen"][aria-checked*="true"] svg {
		-webkit-mask: url("https://i.imgur.com/biVJGEE.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(241, 86, 86);
		color: rgb(241, 86, 86);
}
.iconSpacing-3eO9xt[aria-label*="Muted"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(142, 146, 151);
		color: rgb(142, 146, 151);
}
.iconSpacing-3eO9xt[aria-label*="Deafened"] svg {
		-webkit-mask: url("https://i.imgur.com/biVJGEE.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(142, 146, 151);
		color: rgb(142, 146, 151);
}
.iconSpacing-3eO9xt[aria-label*="Server Muted"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(241, 86, 86);
		color: rgb(241, 86, 86);
}
.iconSpacing-3eO9xt[aria-label*="Server Deafened"] svg {
		-webkit-mask: url("https://i.imgur.com/biVJGEE.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(241, 86, 86);
		color: rgb(241, 86, 86);
}

/* Voice Chat and Streaming */
.button__67645[aria-label*="Stream"] svg {
	 -webkit-mask: url("https://i.imgur.com/9tkLDi5.png") center/cover;
	 width: 20px;
	 height: 20px;
	 background: rgba(var(--AccentColor), 1);
}
.button__67645[aria-label*="Stop Streaming"] svg {
	 -webkit-mask: url("https://i.imgur.com/jeh7qQQ.png") center/cover;
	 width: 20px;
	 height: 20px;
	 background: rgba(var(--AccentColor), 1);
}
.ping__06d62 {
    display: none;
}
.popoutText_effb26.popoutTextDetails_effb26 {
    display: none;
}
.graphContainer_effb26 {
    margin-bottom: 5px;
    padding: 0;
}
.separator_effb26 {
    border: none;
		margin-bottom: 0;
}

.actionButtons_e131a9 {
    grid-gap: 5px;
    padding-top: 0;
}
.actionButtons_e131a9 .button__201d5 .contents__201d5 svg {
	 width: 24px !important;
		height: 24px !important;
}
.actionButtons_e131a9 .button__201d5 .contents__201d5 .lottieIcon__5eb9b {
	display: contents !important;
}
.button_e131a9.buttonColor_e131a9.buttonActive_e131a9 {
    background: rgba(var(--AccentColor), 0.75);
    color: rgba(var(--AccentColor), 1);
}
.button__201d5[aria-label*="Turn On Camera"] svg {
	 -webkit-mask: url("https://i.imgur.com/CgkqQF0.png") center/cover;
	 background: rgba(var(--AccentColor), 1);
}
.button__201d5[aria-label*="Turn Off Camera"] svg {
	 -webkit-mask: url("https://i.imgur.com/CgkqQF0.png") center/cover;
	 background: rgba(var(--AccentColor), 1);
}
.button__201d5[aria-label*="Share Your Screen"] svg {
	 -webkit-mask: url("https://i.imgur.com/9tkLDi5.png") center/cover;
	 background: rgba(var(--AccentColor), 1);
}
.button__201d5[aria-label*="Start An Activity"] svg {
	 -webkit-mask: url("https://i.imgur.com/iAB8BmS.png") center/cover;
	 background: rgba(var(--AccentColor), 1);
}
.button__201d5[aria-label*="Open Soundboard"] svg {
	 -webkit-mask: url("https://i.imgur.com/Z8tem8F.png") center/cover;
	 background: rgba(var(--AccentColor), 1);
	 color: rgba(var(--AccentColor), 1);
    --__lottieIconColor: rgba(var(--AccentColor), 1);
}

/* Voice Chat Status Icons */
.icons__07f91 {
		margin-right: 5px;
}
.icons__07f91 .iconSpacing__07f91 svg {
		width: 18px;
		height: 18px;
}
.icons__07f91 .iconSpacing__07f91[aria-label="Muted"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		background: #444;
		color: #444;
}
.icons__07f91 .iconSpacing__07f91[aria-label="Deafened"] svg {
		-webkit-mask: url("https://i.imgur.com/biVJGEE.png") center/cover;
		background: #444;
		color: #444;
}
.icons__07f91 .iconSpacing__07f91[aria-label*="Muted by"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		background: var(--yellow);
		color: var(--yellow);
}
.icons__07f91 .iconSpacing__07f91[aria-label*="Server Muted"] svg {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png") center/cover;
		background: var(--red);
		color: var(--red);
}
.icons__07f91 .iconSpacing__07f91[aria-label*="Server Deafened"] svg {
		-webkit-mask: url("https://i.imgur.com/biVJGEE.png") center/cover;
		background: var(--red);
		color: var(--red);
}
.icons__07f91 .iconSpacing__07f91[aria-label*="Video"] svg {
		-webkit-mask: url("https://i.imgur.com/CgkqQF0.png") center/cover;
		background: var(--red);
		color: var(--red);
}

/* Category Arrow */
.arrow_d64d50 {
		transition: none;
		color: rgba(var(--AccentColor), 1);
}

/* Boost Bar Removal */
.container_eff079 {
		display: none;
}

/* Channel Banner */
.bannerImg_f37cb1, .bannerImage_f37cb1 {
		width: 300px;
		image-rendering: pixelated;
}

.container__56cd1 {
    width: 350px;
    margin-left: 10px;
    padding: 10px;
    max-height: 350px;
    box-shadow: none;
    background: rgba(var(--SecondaryBG));
}

div[style="height: 16px;"] {
	height: 5px !important;
}


/* temp fixes */
.theme-dark .panel__5dec7 {
    background: rgba(var(--PrimaryBG));
}
.container_e131a9 {
		padding: 10px;
		border: none;
		background: rgba(var(--PrimaryBG));
}
.activityPanel_c48ade {
    border: none;
}
.visual-refresh .sidebar_c48ade:after {
    display: none;
}


.visual-refresh .container__2637a {
    padding-bottom: 0;
    margin-left: 0;
		background: rgba(var(--PrimaryBG));
}
.visual-refresh .sidebarList_c48ade {
    border: none;
}
.visual-refresh .communityInfoVisible_f37cb1 .header_f37cb1, .visual-refresh .communityInfoVisible_f37cb1 .header_f37cb1:hover, .visual-refresh .hasBanner_f37cb1 .header_f37cb1, .visual-refresh .hasBanner_f37cb1 .header_f37cb1:hover {
    border-bottom: none;
}