/* -=-= Collection of various miscellaneous codeblocks =-=- */
/* Rainbow Animation */
@keyframes rainbow {
from {
		-webkit-filter: hue-rotate(0deg);
}
to {
		-webkit-filter: hue-rotate(360deg);
}
}

@keyframes fading {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

/* Forced Sharp Corners */
#app-mount * {
		border-radius: 0 !important;
		font-family: var(--Font) !important;
}
#app-mount *:before, #app-mount *:after {
		border-radius: 0 !important;
		font-family: var(--Font) !important;
}
/* "foreignObject" Killer */
foreignObject {
		mask: none !important;
}

/* "display: none;" spam collection */
.wordmark__421ed,
.avatarHint_f89da9,
.unread__3b95d {
		display: none;
}

/* Transition Killer */
#app-mount .layer__960e4  {
		transform: none !important;
		transition: none !important;
		animation: none !important;
		top: 0 !important;
		padding-top: 0 !important;
}

/* Font Forcing */
::-webkit-input-placeholder, body, button, input, select, textarea {
		font-family: var(--Font, "Montserrat");
		-webkit-mask: none !important;
		mask: none !important;
}

/* Selection */
::selection {
		background: rgba(var(--AccentColor), 1);
}

/* Light theme warning */
html.theme-light #app-mount {
		height: calc(100vh - 135px);
		overflow: visible;
}
html.theme-light #app-mount:after {
content: "this theme is NOT made for light theme you fucking pretzel";
		line-height: 55px;
		display: block;
		text-align: center;
		padding: 40px 0;
		color: rgba(var(--AccentColor), 1);
		font-weight: 900;
		font-size: 50px;
		white-space: pre-wrap;
		background: #000;
		position: absolute;
		bottom: 0;
		width: 100%;
		transform: translateY(100%);
		animation: rainbow 10s linear infinite;
}

/* Loading Screen */
.container_a2f514 video.ready_a2f514 {
		display: none;
}
.tip_a2f514 {
		color: rgba(var(--AccentColor), 1);
		font-size: 15px;
		line-height: 25px;
		font-weight: 800;
		text-transform: lowercase;
		font-style: italic;
}
.tipTitle_a2f514 {
		display: none;
}

/* Ping indicators */
.numberBadge__2b1f5 {
		height: 15px;
		min-width: 15px;
		min-height: 15px;
		font-size: 15px;
		line-height: 15px;
		font-weight: 800;
		color: rgba(var(--PrimaryBG));
}
.numberBadge__2b1f5 {
		background-color: rgba(var(--AccentColor), 1) !important;
		width: 35px !important;
}

/* Changelog */
.improved-2SJXHz {
		color: rgba(var(--AccentColor), 1);
		animation: rainbow 3s linear infinite;
}

/* Scrollbar deletion */
.thin__99f8c::-webkit-scrollbar, .thin__99f8c::-webkit-scrollbar-corner, .auto-2K3UW5::-webkit-scrollbar-thumb, .auto-2K3UW5::-webkit-scrollbar-track {
		display: none;
}

circle {
		r: 10px !important;
		clip-path: inset(30% 30% 30% 30%) !important;
}

/* Tooltips */
#app-mount .tooltipPrimary-3qLMbS {
		background-color: rgba(var(--PrimaryBG));
		color: rgba(var(--AccentColor), 1);
		font-weight: 700;
		border: 2px dashed rgba(var(--AccentColor), 0.25);
}
.guildNameText_b1f768 {
		color: rgba(var(--AccentColor), 1);
}
#app-mount .tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
		border-top-color: rgba(var(--AccentColor), 1);
		margin: 0;
		padding: 0;
}
.tooltipContent-Nejnvh {
		padding: 5px 10px;
}

/* Bot Tag */
.botTag__5d473, .botTag_c19a55, .headerBotTagWithNickname-3DNCuU, .headerBotTag-1xw5Ck {
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--PrimaryBG));
}

/* Reload Screen */
.theme-dark .image__61a6b {
	background: none;
}
.theme-dark .wrapper__61a6b {
	background-image: url("https://i.imgur.com/FK87k4M.png");
}
.title__61a6b {
	font-size: 0;
	line-height: 0;
	margin-bottom: 10px;
	color: rgba(var(--AccentColor), 1);
}
.title__61a6b::before {
	font-size: 25px;
	content: "whoops.";
	font-weight: 800;
}

.note__61a6b {
	font-size: 0;
	color: rgba(var(--AccentColor), 1);
}
.note__61a6b::before {
	font-size: 20px;
	content: "something has nuked your discord activity. here's a c7.r for now.";
	font-weight: 700;
}
.errorPage_a57b28 .flex__7c0ba .buttons_a57b28 .lookFilled-yCfaCM.colorBrand-I6CyqQ {
	background: rgba(var(--SecondaryBG), .5);
}
.errorPage_a57b28 .flex__7c0ba .buttons_a57b28 .contents-3ca1mk {
	font-size: 0px;
}
.errorPage_a57b28 .flex__7c0ba .buttons_a57b28 .contents-3ca1mk::before {
	font-size: 14px;
	line-height: 25px;
	content: "try again, though it's recommended to restart discord instead";
}

.wrapper_f61d60 {
    padding: 1px;
    font-weight: 500;
    color: rgba(var(--AccentColor), 1);
    background: rgba(var(--AccentColor), 0.25);
}
.interactive:hover {
    color: rgba(var(--AccentColor), 1);
		animation: rainbow 5s linear infinite;
}
.progress__89dcd .progressBar__89dcd {
    background: rgba(var(--AccentColor), 1) !important;
}
.icon__0ccae {
    display: none;
}