/* Context Menu - Right click */
.item-1OdjEX {
    margin: 0 0 0 0;
    padding: 0px 5px 0px 5px;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    cursor: crosshair;
}
.scroller-1bVxF5 {
    padding: 0 0 0 0;
    background-color: rgba(var(--PrimaryBG));
}
.labelContainer-2vJzYL {
    min-height: 25px;
    padding: 0 5px 0 5px;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: rgba(var(--AccentColor), 0.25);
    color: rgba(var(--AccentColor), 1);
}
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: rgba(var(--AccentColor), 0.5);
    color: rgba(var(--AccentColor), 1);
}

.submenuPaddingContainer-_k62dJ {
    padding: 0 0 0 0;
}
.layer-2aCOJ3 {
    margin-left: -5px;
}
.subtext-2GlkbE {
    display: none;
}
