/* DM List - Tabs */
.channel__972a0 {
		max-width: 315px;
		margin: 0 2px;
}
.container-32HW5s {
    padding: 0;
}
.selected__91a9d .layout__91a9d {
		background-color: rgba(var(--AccentColor), 0.15);
}
.interactive-1vLZ_I:active {
    color: rgba(var(--AccentColor), 1);
    background: rgba(var(--SecondaryBG));
}
.clickable__91a9d:hover .layout__91a9d, .interactive__972a0:hover {
		margin-left: 5px;
}
.privateChannelsHeaderContainer__99e7c {
		padding: 5px 0 0 10px;
		height: 35px;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}

.interactiveSelected__972a0 {
    background: rgba(var(--SecondaryBG));
}
.linkButtonIcon__972a0 {
	background: rgba(var(--AccentColor), 1);
	color: rgba(var(--AccentColor), 1);
}
/* Nitro Tab */
.link__972a0[href="/store"] .avatar__20a53 svg {
		-webkit-mask: url("https://i.imgur.com/NZErG4G.png") center/25px no-repeat;
}
/* Shop Tab */
.link__972a0[href="/shop"] .avatar__20a53 svg {
		-webkit-mask: url("https://i.imgur.com/BS0NzL3.png") center/28px no-repeat;
}
/* Library Tab */
.link__972a0[href="/library"] .avatar__20a53 svg {
		-webkit-mask: url("https://i.imgur.com/faSUfHB.png") center/25px no-repeat;
}
/* Friends Tab */
.link__972a0[href="/channels/@me"] .avatar__20a53 svg {
		-webkit-mask: url("https://i.imgur.com/HBqxz2l.png") center/25px no-repeat;
}
/* Birthday */
.link__972a0[href="/activities"] .avatar__20a53 svg {
	-webkit-mask: url("https://i.imgur.com/9x79mXI.png") center/25px no-repeat;
		color: rgb(255, 255, 0);
		background: rgb(255, 255, 0);
		animation: fading 2s infinite;
}


.selectableItem-1MP3MQ.selected-31soGA {
		background: rgba(var(--AccentColor), 1) !important;
}

/* Friends List */
.peopleList__5ec2f {
		padding-bottom: 0;
		margin-top: 0;
}
.theme-dark .container__133bf {
		background: rgba(var(--PrimaryBG));
}
.peopleListItem_cc6179 {
    margin-right: 10px;
    font-size: 15px;
    border-top: none;
		height: 50px !important;
}
.peopleListItem_cc6179:hover {
    margin-left: 22px;
}
.actions_fc004c {
    display: none;
}

/* Add Friend Tab */
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
    background: rgba(var(--SecondaryBG));
}

/* Modals */
.theme-dark .root__49fc1 {
		background-color: rgba(var(--PrimaryBG));
		box-shadow: none;
}

/* DM Header Icons */
.videoBottom-2_HYXG .iconButton-3V4WS5[style*="/d47d2c5ce2dd7d5bdaee2ebd8fde61f2.svg"]:before {
		-webkit-mask: url("https://i.imgur.com/VvlIPDy.png");
}
.videoBottom-2_HYXG .iconButton-3V4WS5[style*="/f67374a8fd6b116362596d65cc516747.svg"]:before {
		-webkit-mask: url("https://i.imgur.com/CgkqQF0.png");
}
.videoBottom-2_HYXG .iconButton-3V4WS5[style*="/b0aeca4d2129dcbf73f05feb6bb6e61f.svg"]:before {
		-webkit-mask: url("https://i.imgur.com/SWnquEv.png");
}
.videoBottom-2_HYXG .iconButton-3V4WS5[style*="/4bc527c257233fc69b94342d77bcb9ee.svg"]:before {
		-webkit-mask: url("https://i.imgur.com/uowLiRY.png");
}
.videoBottom-2_HYXG .iconButton-3V4WS5[style*="/990826f372c3d1d1792e3f1df06609bb.svg"]:before {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png");
}

/* DM Search Bar */
.searchBar__35e86 {
		padding: 0 10px;
		height: 46px;
		box-shadow: none;
		background: rgba(var(--TertiaryBG), 1);
		border-bottom: 2px solid rgba(var(--AccentColor), 1);
}
.searchBar__35e86 .searchBarComponent__35e86 {
    background: transparent;

}

/* Active Now Section */
.scroller__7d20c {
    padding: 10px;
    border: none;
    margin: 0;
}
.header__7d20c {
    margin: 5px 0 10px;
}
.padded_bf1984 {
    padding: 5px 10px;
}
.wrapper__00943 {
    background-color: rgba(var(--SecondaryBG));
    border: none;
}



/* Friends List Tabs */
.topPill_b3f026 .themed_b3f026.selected_b3f026.item_b3f026 {
    background-color: rgba(var(--SecondaryBG), 1);
}
.tabBar__133bf .item__133bf {
		padding: 0 5px 0 40px;
		margin: 10px;
		height: 25px;
}
.tabBar__133bf .item__133bf:before {
		content: "";
		position: absolute;
		left: 5px;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask-position: center !important;
		-webkit-mask-repeat: no-repeat !important;
}
/* Online */
.tabBar__133bf .item__133bf[data-tab-id="ONLINE"]:before {
		-webkit-mask: url("https://i.imgur.com/9r5oCHb.png");
		-webkit-mask-size: 15px !important;
		background: var(--green) !important;
}
/* All */
.tabBar__133bf .item__133bf[data-tab-id="ALL"]:before {
		-webkit-mask: url("https://i.imgur.com/1n4ZW34.png");
		-webkit-mask-size: 20px !important;
}
/* Pending */
.tabBar__133bf .item__133bf[data-tab-id="PENDING"]:before {
		-webkit-mask: url("https://i.imgur.com/2WkR39r.png");
		-webkit-mask-size: 20px !important;
}
/* Blocked */
.tabBar__133bf .item__133bf[data-tab-id="BLOCKED"]:before {
		-webkit-mask: url("https://i.imgur.com/D8yNqkX.png");
		-webkit-mask-size: 20px !important;
}
/* Add Friend */
.tabBar__133bf .item__133bf[data-tab-id="ADD_FRIEND"]:before {
		-webkit-mask: url("https://i.imgur.com/M636uZa.png");
		-webkit-mask-size: 20px !important;
		background: #000 !important;
}

/* Library Tabs */
.item-3XjbnG[data-item-id="/library"]:before {
		-webkit-mask: url("https://i.imgur.com/iAB8BmS.png");
		-webkit-mask-size: 20px !important;
}
.item-3XjbnG[data-item-id="/library/settings"]:before {
		-webkit-mask: url("https://i.imgur.com/pYqekDg.png");
		-webkit-mask-size: 20px !important;
}
