/* DM List - Tabs */
.channel-1Shao0 {
		max-width: 315px;
		margin: 0 2px;
}
.container-32HW5s {
    padding: 0;
}
.selected-1-Z6gm .layout-1qmrhw {
		background-color: rgba(var(--AccentColor), 0.15);
}
.clickable-28SzVr:hover .layout-1qmrhw {
		background: none;
		margin-left: 5px;
}
.privateChannelsHeaderContainer-1UWASm {
		padding: 5px 0 0 10px;
		height: 35px;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}

.interactiveSelected-29CP8y {
    background: rgba(var(--SecondaryBG));
}
.linkButtonIcon-7rsZcu {
	background: rgba(var(--AccentColor), 1);
	color: rgba(var(--AccentColor), 1);
}
/* Nitro Tab Deletion */
.link-39sEB3[href="/store"] {
		display: none;
}
/* Nitro Tab */
.link-39sEB3[href="/store"] .avatar-1HDIsL svg {
		-webkit-mask: url(/assets/379d2b3171722ef8be494231234da5d1.svg) center/25px no-repeat;
}
/* Library Tab */
.link-39sEB3[href="/library"] .avatar-1HDIsL svg {
		-webkit-mask: url("https://i.imgur.com/faSUfHB.png") center/25px no-repeat;
}
/* Friends Tab */
.link-39sEB3[href="/channels/@me"] .avatar-1HDIsL svg {
		-webkit-mask: url("https://i.imgur.com/HBqxz2l.png") center/25px no-repeat;
}


.selectableItem-1MP3MQ.selected-31soGA {
		background: rgba(var(--AccentColor), 1) !important;
}

/* Friends List */
.peopleList-2VBrVI {
		padding-bottom: 0;
		margin-top: 0;
}
.theme-dark .container-2cd8Mz {
		background: rgba(var(--PrimaryBG));
}
/* Add Friend Tab */
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
    background: rgba(var(--SecondaryBG));
}

/* Modals */
.theme-dark .root-g14mjS {
		background-color: rgba(var(--PrimaryBG));
		box-shadow: none;
}

/* DM Header Icons */
.videoBottom-2_HYXG .iconButton-3V4WS5[style*="/d47d2c5ce2dd7d5bdaee2ebd8fde61f2.svg"]:before {
		-webkit-mask: url("https://i.imgur.com/VvlIPDy.png");
}
.videoBottom-2_HYXG .iconButton-3V4WS5[style*="/f67374a8fd6b116362596d65cc516747.svg"]:before {
		-webkit-mask: url("https://i.imgur.com/CgkqQF0.png");
}
.videoBottom-2_HYXG .iconButton-3V4WS5[style*="/b0aeca4d2129dcbf73f05feb6bb6e61f.svg"]:before {
		-webkit-mask: url("https://i.imgur.com/SWnquEv.png");
}
.videoBottom-2_HYXG .iconButton-3V4WS5[style*="/4bc527c257233fc69b94342d77bcb9ee.svg"]:before {
		-webkit-mask: url("https://i.imgur.com/uowLiRY.png");
}
.videoBottom-2_HYXG .iconButton-3V4WS5[style*="/990826f372c3d1d1792e3f1df06609bb.svg"]:before {
		-webkit-mask: url("https://i.imgur.com/SWL7qk3.png");
}

/* DM Search Bar */
.searchBar-3TnChZ {
		padding: 0 10px;
		height: 46px;
		box-shadow: none;
		border-bottom: 2px solid rgba(var(--AccentColor), 1);
}

/* Active Now Section */
.scroller-hE2gWq {
    padding: 10px;
    border: none;
    margin: 0;
}
.header-Imy05m {
    margin: 5px 0 10px;
}
.padded-2NSY6O {
    padding: 5px 10px;
}
.wrapper-2RrXDg {
    background-color: rgba(var(--SecondaryBG));
    border: none;
}



/* Friends List Tabs */
.layer-86YKbF .topPill-3DJJNV .item-3XjbnG {
		padding: 0 5px 0 40px;
		margin: 10px;
		height: 25px;
}
.layer-86YKbF .topPill-3DJJNV .item-3XjbnG:before {
		content: "";
		position: absolute;
		left: 5px;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask-position: center !important;
		-webkit-mask-repeat: no-repeat !important;
}
/* Online */
.item-3XjbnG[data-item-id="ONLINE"]:before {
		-webkit-mask: url("https://i.imgur.com/9r5oCHb.png");
		-webkit-mask-size: 15px !important;
		background: var(--green) !important;
}
/* All */
.item-3XjbnG[data-item-id="ALL"]:before {
		-webkit-mask: url("https://i.imgur.com/1n4ZW34.png");
		-webkit-mask-size: 20px !important;
}
/* Pending */
.item-3XjbnG[data-item-id="PENDING"]:before {
		-webkit-mask: url("https://i.imgur.com/2WkR39r.png");
		-webkit-mask-size: 20px !important;
}
/* Blocked */
.item-3XjbnG[data-item-id="BLOCKED"]:before {
		-webkit-mask: url("https://i.imgur.com/D8yNqkX.png");
		-webkit-mask-size: 20px !important;
}
/* Add Friend */
.item-3XjbnG[data-item-id="ADD_FRIEND"]:before {
		-webkit-mask: url("https://i.imgur.com/M636uZa.png");
		-webkit-mask-size: 20px !important;
		background: #000 !important;
}
