/* Emote Menu - Categories */
.categoryItemDefaultCategorySelected-_HCKoz .categoryIcon-1SvUHG, .categoryItemDefaultCategorySelected-_HCKoz:hover .categoryIcon-1SvUHG {
    color: rgba(var(--AccentColor), 1) !important;
}
.categoryItemDefaultCategory-3haEDq {
    margin-left: 3px;
    margin-bottom: 5px !important;
    height: 24px;
    width: 24px;
		padding: 4px;
}
.categoryItemDefaultCategory-3haEDq[aria-label="recent"] {
    -webkit-mask: url("https://i.imgur.com/0WgR6i2.png") center/cover;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(var(--AccentColor), 1);
}
.categoryItemDefaultCategory-3haEDq[aria-label="favorite emojis"] {
    -webkit-mask: url("https://i.imgur.com/MPcPaUq.png") center/cover;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(var(--AccentColor), 1);
}
.categoryItemDefaultCategory-3haEDq[aria-label="people"] {
    -webkit-mask: url("https://i.imgur.com/Qeo2ueQ.png") center/cover;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(var(--AccentColor), 1);
}
.categoryItemDefaultCategory-3haEDq[aria-label="nature"] {
    -webkit-mask: url("https://i.imgur.com/v84hyJ1.png") center/cover;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(var(--AccentColor), 1);
}
.categoryItemDefaultCategory-3haEDq[aria-label="food"] {
    -webkit-mask: url("https://i.imgur.com/hQi8BOu.png") center/cover;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(var(--AccentColor), 1);
}
.categoryItemDefaultCategory-3haEDq[aria-label="activity"] {
    -webkit-mask: url("https://i.imgur.com/NkZVkcS.png") center/cover;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(var(--AccentColor), 1);
}
.categoryItemDefaultCategory-3haEDq[aria-label="travel"] {
    -webkit-mask: url("https://i.imgur.com/3IBmkAe.png") center/cover;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(var(--AccentColor), 1);
}
.categoryItemDefaultCategory-3haEDq[aria-label="objects"] {
    -webkit-mask: url("https://i.imgur.com/9tkLDi5.png") center/cover;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(var(--AccentColor), 1);
}
.categoryItemDefaultCategory-3haEDq[aria-label="symbols"] {
    -webkit-mask: url("https://i.imgur.com/z3OI1Uv.png") center/cover;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(var(--AccentColor), 1);
}
.categoryItemDefaultCategory-3haEDq[aria-label="flags"] {
    -webkit-mask: url("https://i.imgur.com/uIDMWSy.png") center/cover;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(var(--AccentColor), 1);
}
.categoryItemDefaultCategory-3haEDq[aria-label="blacklist"] {
    -webkit-mask: url("https://i.imgur.com/qhf4i2G.png") center/cover;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgba(var(--AccentColor), 1);
}

/* Emote Info Tooltip */
.emoji.jumboable {
    width: 250px;
    height: 100px;
}
