/* -=-= Header =-=- */
/* Server Dropdown */
.menu_c1e9c4[id*="guild-header-popout"] {
		cursor: crosshair;
		box-shadow: none;
		margin-top: -10px;
		margin-left: -12px;
		width: 300px;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
		overflow: none !important;
}
.iconContainer-1-SsTR {
		height: 20px;
		width: 20px;
		margin-left: 5px;
}
.item-1OdjEX[id*="guild-header-popout-premium-subscribe"],
.item-1OdjEX[id*="guild-header-popout-premium-subscribe"]:hover,
.item-1OdjEX[id*="guild-header-popout-premium-subscribe"]:hover svg,
.colorDefault-CDqZdO.focused-3qFvc8[id*="guild-header-popout-premium-subscribe"] svg {
		color: #ff73fa;
}
.item-1OdjEX[id*="guild-header-popout-invite-people"]{
		animation: rainbow 5s infinite;
		color: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-invite-people"] svg {
		-webkit-mask: url("https://i.imgur.com/jUqUct8.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-settings"] svg {
		-webkit-mask: url("https://i.imgur.com/pYqekDg.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-insights"] svg {
		-webkit-mask: url("https://i.imgur.com/VbmGX0M.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-create-channel"] svg {
		-webkit-mask: url("https://i.imgur.com/mXDdMKg.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-create-category"] svg {
		-webkit-mask: url("https://i.imgur.com/LZ1Cip0.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-create-event"] svg {
		-webkit-mask: url("https://i.imgur.com/AGRxVmK.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-notifications"] svg {
		-webkit-mask: url("https://i.imgur.com/bH8EjSM.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-privacy"] svg {
		-webkit-mask: url("https://i.imgur.com/cPWXDFI.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-change-nickname"] svg {
		-webkit-mask: url("https://i.imgur.com/WjMmxEV.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-leave"] svg {
		-webkit-mask: url("https://i.imgur.com/Q1iCApb.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgb(240, 71, 71)
}
.item-1OdjEX[id*="guild-header-popout-hide-muted-channels"][aria-checked*="false"] svg {
		-webkit-mask: url("https://i.imgur.com/6cbtmtc.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.item-1OdjEX[id*="guild-header-popout-hide-muted-channels"][aria-checked*="true"] svg {
		-webkit-mask: url("https://i.imgur.com/tT3ipI9.png") center/cover;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
.colorDefault-CDqZdO .checkbox-hADx5o,
.colorDefault-CDqZdO .radioSelection-1UHp0b,
.colorDefault-CDqZdO .check-3HZJs4,
.colorDefault-CDqZdO.focused-3qFvc8 .checkbox-hADx5o,
.colorDefault-CDqZdO.focused-3qFvc8 .radioSelection-1UHp0b,
.colorDefault-CDqZdO.focused-3qFvc8 .subtext-2GlkbE {
		color: transparent;
}
.customItem-2CxBSo[id*="guild-header-popout-showhiddenchannels-hide-locked-channels"] {
		display: none;
}

.visual-refresh .title_f75fb0 {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
}
.visual-refresh .container__9293f {
		border-bottom: 2px solid rgba(var(--AccentColor), 1);
}
.visual-refresh .chat_f75fb0[data-has-border=true] {
    border-top: none;
}
.topic__6ec1a {
		margin-left: 5px;
		font-size: 15px;
		line-height: 20px;
		color: rgba(var(--AccentColor), 1);
}
.divider__9293f {
		width: 2px;
		height: 25px;
		margin: 0 5px;
		background: rgba(var(--AccentColor), 0.25);
}
.iconWrapper__9293f {
		height: 25px;
		margin: 0 5px;
}

.container__9293f {
    height: 48px;
    padding: 0 5px;
}

/* Left Header Icons - Channels */
.container__9293f.title_f75fb0[aria-label="Channel header"] .children__9293f .iconWrapper__9293f {
		 -webkit-mask: url("https://i.imgur.com/mXDdMKg.png") center/cover;
		 width: 25px;
		 height: 25px;
		 background: rgba(var(--AccentColor), 1);
}
/* Left Header Icons - Friends (broken) */
//.children__9293f .iconWrapper__9293f {
//		 -webkit-mask: url("https://i.imgur.com/HBqxz2l.png") center/cover;
//		 width: 22px;
//		 height: 22px;
//		 background: rgba(var(--AccentColor), 1);
//}
/* Left Header Icons - Library*/
.libraryHeader__5a895 .children__9293f .iconWrapper__9293f {
		 -webkit-mask: url("https://i.imgur.com/faSUfHB.png") center/cover;
		 width: 24px;
		 height: 24px;
		 background: rgba(var(--AccentColor), 1);
}
/* Left Header Icons - Voice Chat */
.headerWrapper_cb9592 .container__9293f.transparent__9293f .children__9293f .iconWrapper__9293f {
		 -webkit-mask: url("https://i.imgur.com/JEQfCHt.png") center/cover;
		 width: 25px;
		 height: 25px;
		 background: rgba(var(--AccentColor), 1);
}
/* Left Header Icons - Threads */
.container__9293f[aria-label*="Thread header"] .children__9293f .iconWrapper__9293f {
		 -webkit-mask: url("https://i.imgur.com/iWVN2ev.png") center/cover;
		 width: 22px;
		 height: 22px;
		 background: rgba(var(--AccentColor), 1);
}

/* Right Header Icons*/
.iconWrapper__9293f[aria-label*="Threads"] {
		-webkit-mask: url("https://i.imgur.com/iWVN2ev.png") center/cover;
		width: 28px;
		height: 28px;
		background: rgba(var(--AccentColor), 1);
}
.iconWrapper__9293f[aria-label*="Notification Settings"] {
		-webkit-mask: url("https://i.imgur.com/bH8EjSM.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
.iconWrapper__9293f[aria-label*="Pinned Messages"] {
		-webkit-mask: url("https://i.imgur.com/tMrxpi1.png") center/cover;
		width: 23px;
		height: 23px;
		background: rgba(var(--AccentColor), 1);
}
.iconWrapper__9293f[aria-label*="Hide Member List"]{
		-webkit-mask: url("https://i.imgur.com/fqmCpKs.png") center/cover;
		width: 28px;
		height: 28px;
		background: rgba(var(--AccentColor), 1);
}
.iconWrapper__9293f[aria-label*="Show Member List"] {
		-webkit-mask: url("https://i.imgur.com/CRkYbVZ.png") center/cover;
		width: 28px;
		height: 28px;
		background: rgba(var(--AccentColor), 1);
}
.iconWrapper__9293f[aria-label*="More"] {
		-webkit-mask: url("https://i.imgur.com/XK8F1QZ.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
.selected__9293f[aria-label*="More"] {
		transform: rotate(180deg);
}
.iconWrapper__9293f[aria-label*="Update"]{
		-webkit-mask: url("https://i.imgur.com/8Z68uCH.png") center/cover;
		width: 25px;
		height: 25px;
		background: var(--green);
}
.iconWrapper__9293f[aria-label*="Inbox"]{
		-webkit-mask: url("https://i.imgur.com/kPC15bq.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
.iconWrapper__9293f[aria-label*="Help"]{
		display: none;
}
.iconWrapper__9293f[aria-label*="Start Voice Call"]{
		-webkit-mask: url("https://i.imgur.com/QRlEKsF.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
.iconWrapper__9293f[aria-label*="Start Video Call"]{
		-webkit-mask: url("https://i.imgur.com/CgkqQF0.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
.iconWrapper__9293f[aria-label*="Add Friends"]{
		-webkit-mask: url("https://i.imgur.com/yUL8g58.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
.iconWrapper__9293f[aria-label*="Show User Profile"]{
		-webkit-mask: url("https://i.imgur.com/uTP0O8K.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
.iconWrapper__9293f[aria-label*="Hide User Profile"]{
		-webkit-mask: url("https://i.imgur.com/ctWX4nh.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
.iconWrapper__9293f[aria-label*="New Group DM"]{
		display: none;
}

/* "Follow" Button */
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo {
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--SecondaryBG));
}
.followButton_f75fb0 {
		padding: 2px 5px;
		margin-right: 5px;
}

/* Pins Popout */
.image__45690 {
		display: none;
}
.body__45690 {
		font-size: 15px;
		margin: 5px 0;
		color: rgba(var(--AccentColor), 1);
}
.footer__45690 {
		display: none;
}
.messagesPopout__45690 {
		padding: 5px;
}
.header__45690 {
		position: relative;
		padding: 10px;
		background-color: var(--background-tertiary);
		text-align: right;
		box-shadow: none;
}
.emptyPlaceholder__45690 {
		margin: 5px 0;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
		border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}
.messagesPopoutWrap__45690 {
		background-color: rgba(var(--PrimaryBG));
		box-shadow: none;
		width: 500px;
}

.container__9293f.themed__9293f {
    background: rgba(var(--TertiaryBG), 1);
}
.container_f37cb1 {
    background: rgba(var(--TertiaryBG), 1);
}
.theme-dark .children__9293f:after {
    display: none;
}


.upsellTooltipWrapper__675aa {
    max-width: 300px;
    padding: 10px;
    background-color: rgba(var(--SecondaryBG)) !important;
    box-shadow: none;
}
.upsellTooltipWrapper__675aa:after {
    display: none;
}

/* "Public" server status */
.communityInfoPill_f37cb1 {
    display: none;
}

/* Server name */
.name_f37cb1 {
    color: rgba(var(--AccentColor), 1);
}
.headerChildren_f37cb1 {
    color: rgba(var(--AccentColor), 1);
}

/* Discord Birthday Header Icon */
.activitiesBirthdayIcon-vp7oVk {
    -webkit-mask: url("https://i.imgur.com/9x79mXI.png") center/cover;
		color: rgb(255, 255, 0);
		background: rgb(255, 255, 0);
		animation: fading 2s infinite;
}

.discordLogo__80679 g {
    display: none;
}
.discordLogo__80679 {
    -webkit-mask: url("https://i.imgur.com/BS0NzL3.png") center/cover;
		width: 30px;
		height: 30px;
		background: rgba(var(--AccentColor), 1);
		margin-right: 5px;
}

/* Badge */
.iconBadge__9293f {
    display: none;
}