/* =-=- Member List -=-= */
/* Member Width */
.member_a31c43 {
		max-width: 325px;
		margin-left: 5px;
}
.container_d808b0 {
		padding: 0 0 0 5px;
}
/* Role spacing */
.membersGroup_cbd271 {
		padding: 0 8px 0 16px;
		height: 20px;
}

/* Status Activity Icon */
.icon_ad923e {
		color: rgba(var(--AccentColor), 1);
}
.members_cbd271 {
		width: 350px;
}
.members_cbd271, .members_cbd271>div {
		background: rgba(var(--PrimaryBG));
}

/* Status text - Bold */
.activityText_a31c43 strong {
		color: rgba(var(--AccentColor), 1) !important;
		font-weight: 700;
}

/* Forum fix, once again thanks gibbu */
.container-3wLKDe {
    max-width: calc(100% - 350px);
		border-bottom: 2px solid rgba(var(--AccentColor), 1);
		margin-bottom: 45px;
}
.container-3wLKDe:only-child {
  max-width: 100%;
}