/* =-=- Member List -=-= */
/* Member Width */
.member__5d473 {
		max-width: 325px;
		margin-left: 5px;
}
.container__91a9d {
		padding: 0 0 0 5px;
}
/* Role spacing */
.membersGroup_c8ffbb {
		padding: 0 8px 0 16px;
		height: 20px;
}

/* Status Activity Icon */
.icon_c9d15c {
		color: rgba(var(--AccentColor), 1);
}
.members_c8ffbb {
		width: 350px;
}
.members_c8ffbb, .members_c8ffbb>div {
		background: rgba(var(--PrimaryBG));
}

/* Status text - Bold */
.activityText__5d473 strong {
		color: rgba(var(--AccentColor), 1) !important;
		font-weight: 700;
}

/* Forum fix, once again thanks gibbu */
.container-3wLKDe {
    max-width: calc(100% - 350px);
		border-bottom: 2px solid rgba(var(--AccentColor), 1);
		margin-bottom: 45px;
}
.container-3wLKDe:only-child {
  max-width: 100%;
}