/* =-=- Member List -=-= */
/* Member Width */
.member-2gU6Ar {
    max-width: 325px;
    margin-left: 5px;
}
.container-1oeRFJ {
    padding: 0 0 0 5px; }
/* Role spacing */
.membersGroup-2eiWxl {
    padding: 0px 8px 0 16px;
    height: 20px;
}

/* Status Activity Icon */
.icon-Lupfh- {
		color: rgba(var(--AccentColor), 1);
}
.members-3WRCEx {
		width: 350px;
		background-color: rgba(var(--PrimaryBG));
}
