/* SpotifyControls - Vencord */
.theme-dark #vc-spotify-player {
    background: rgba(var(--PrimaryBG));
}
.barFill_a562c8 {
    background: rgba(var(--AccentColor), 1);
}
#vc-spotify-progress-bar>[class^=slider] [class^=grabber] {
    color: rgba(var(--AccentColor), 1) !important;
}
.vc-spotify-button-row {
    display: none !important;
}

/* ShowMeYourName - Vencord */
.vc-smyn-suffix {
    font-size: 15px;
}
.vc-smyn-suffix:before {
    content: "• ";
}
.vc-smyn-suffix:after {
    content: " ";
}