/* -=-= Search UI =-=- */

/* Search Popout */
.search_ff5f90 {
		margin: 0 0;
}
.searchBar_a46bef {
		height: 25px;
		width: 35px;
		padding: 0 5px;
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--TertiaryBG), 1);
}
.focused_a46bef .searchBar_a46bef, .open_a46bef .searchBar_a46bef {
		width: 320px;
}
.search-1FM8Qc .DraftEditor-root .public-DraftEditorPlaceholder-root {
		color: rgba(var(--AccentColor), 0.75);
		padding-left: 0;
}
.iconLayout_effbe2[aria-hidden*="true"] {
		-webkit-mask: url("https://i.imgur.com/IhEjlHK.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
}
.iconLayout_effbe2[aria-hidden*="false"] {
		-webkit-mask: url("https://i.imgur.com/dtAqBih.png") center/cover;
		margin-top: 2px;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
#app-mount .container_eedf95 {
		background-color: rgba(var(--PrimaryBG));
}
.theme-dark .resultsGroup_b0286e .header-3A13BX,
.theme-dark .resultsGroup_b0286e .plusIcon_b0286e,
.theme-dark .resultsGroup_b0286e .searchClearHistory-2Be-92 {
		color: rgba(var(--AccentColor), 1);
}
.option_b0286e {
		font-size: 15px;
		margin: 0 10px;
		padding: 0 10px;
		height: 25px;
		cursor: crosshair;
}
.option_b0286e:after {
		display: none;
}
.resultsGroup_b0286e .searchLearnMore-7__o_n {
		display: none;
}
.theme-dark .focused_eedf95 {
		background-color: rgba(var(--PrimaryBG));
		margin-top: 2px;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}
.queryContainer_eedf95 {
    padding: 5px 15px;
    border: none;
}
.theme-dark .elevationBorderHigh_ff8688 {
		box-shadow: none;
}
.theme-dark .searchOption_b0286e .filter_b0286e, .theme-dark .option_b0286e.user-23VtPS .displayedNick-2dDbfG {
		color: rgba(var(--AccentColor), 1);
}
.theme-dark .option_b0286e.user-23VtPS .displayUsername-14aOpK {
		color: rgba(var(--AccentColor), 0.5);
}
.theme-dark .searchAnswer_b0fa94, .theme-dark .searchFilter_b0fa94 {
		background-color: rgba(var(--SecondaryBG));
}
.searchFilter_b0fa94 {
		color: rgba(var(--AccentColor), 1);
}
.searchAnswer_b0fa94 {
		color: rgba(var(--AccentColor), 0.75);
}

#app-mount .container_eedf95 {
		background-color: rgba(var(--PrimaryBG));
		margin-top: 2px;
		margin-right: 25px;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}
.resultsGroup_b0286e {
		padding-top: 5px;
		padding-bottom: 0;
		margin-top: 0;
}
.theme-dark .resultsGroup_b0286e:before {
		border: none;
}

/* Fix for Chat */
.searchResultsWrap_c2b47d {
    width: 450px;
    position: absolute;
		display: flex;
		right: 0;
		max-height: calc(100% - 50px);
    background-color: rgba(var(--PrimaryBG));
}