/* -=-= Search UI =-=- */
.visual-refresh {
/* Search Popout */
.search__49676 {
		margin: 0;
}
.searchBar__97492 {
		height: 25px;
		width: 25px;
		padding: 0 0;
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--TertiaryBG), 1);
		border: none;
}
.search__97492 .DraftEditor-root {
    padding: 0;
}
.focused__97492 .searchBar__97492, .open__97492 .searchBar__97492 {
		width: 320px;
}
.search-1FM8Qc .DraftEditor-root .public-DraftEditorPlaceholder-root {
		color: rgba(var(--AccentColor), 0.75);
		padding-left: 0;
}
.iconLayout_fea832[aria-hidden*="true"] {
		-webkit-mask: url("https://i.imgur.com/IhEjlHK.png") center/cover;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.iconLayout_fea832 svg {
		display: none;
}
.iconLayout_fea832[aria-hidden*="false"] {
		-webkit-mask: url("https://i.imgur.com/dtAqBih.png") center/cover;
		margin-top: 2px;
		width: 20px;
		height: 20px;
		background: rgba(var(--AccentColor), 1);
}
#app-mount .container__55c99 {
		background-color: rgba(var(--PrimaryBG));
}
.theme-dark .resultsGroup__56fec .header-3A13BX,
.theme-dark .resultsGroup__56fec .plusIcon__56fec,
.theme-dark .resultsGroup__56fec .searchClearHistory-2Be-92 {
		color: rgba(var(--AccentColor), 1);
}
.option__56fec {
		font-size: 15px;
		margin: 0 10px;
		padding: 0 10px;
		height: 25px;
		cursor: crosshair;
}
.option__56fec:after {
		display: none;
}
.resultsGroup__56fec .searchLearnMore-7__o_n {
		display: none;
}
.theme-dark .focused__55c99 {
		background-color: rgba(var(--PrimaryBG));
		margin-top: 2px;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}
.queryContainer__55c99 {
    padding: 5px 15px;
    border: none;
}
.theme-dark .elevationBorderHigh__2b2f1 {
		box-shadow: none;
}
.theme-dark .searchOption__56fec .filter__56fec, .theme-dark .option__56fec.user-23VtPS .displayedNick-2dDbfG {
		color: rgba(var(--AccentColor), 1);
}
.theme-dark .option__56fec.user-23VtPS .displayUsername-14aOpK {
		color: rgba(var(--AccentColor), 0.5);
}
.theme-dark .searchAnswer_bd8186, .theme-dark .searchFilter_bd8186 {
		background-color: rgba(var(--SecondaryBG));
}
.searchFilter_bd8186 {
		color: rgba(var(--AccentColor), 1);
}
.searchAnswer_bd8186 {
		color: rgba(var(--AccentColor), 0.75);
}

#app-mount .container__55c99 {
		background-color: rgba(var(--PrimaryBG));
		margin-top: 2px;
		margin-right: 25px;
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}
.resultsGroup__56fec {
		padding-top: 5px;
		padding-bottom: 0;
		margin-top: 0;
}
.theme-dark .resultsGroup__56fec:before {
		border: none;
}

/* Fix for Chat */
.searchResultsWrap_a9e706 {
    width: 450px;
    position: absolute;
		display: flex;
		right: 0;
		max-height: calc(100% - 50px);
    background-color: rgba(var(--PrimaryBG));
}

}