/* Server Settings Tabs */
.sidebar__23e6b .side-a0 .item-a0 {
		padding: 0 5px 0 40px;
		margin: 0 0;
		height: 25px;
		line-height: 25px;
}
.sidebar__23e6b .side-a0 .item-a0:before {
		content: "";
		position: absolute;
		left: 5px;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask-position: center !important;
		-webkit-mask-repeat: no-repeat !important;
}

/* -=-= Tab Icons =-=- */
/* UNDEFINED ICONS */
.side-a0 .item-a0:before {
		-webkit-mask: url("https://i.imgur.com/9r5oCHb.png");
		-webkit-mask-size: 15px !important;
}
/* Overview */
.side-a0 .item-a0[data-item-id="OVERVIEW"]:before {
		-webkit-mask: url("https://i.imgur.com/DVOL3aX.png");
		-webkit-mask-size: 24px !important;
}
/* Roles */
.side-a0 .item-a0[data-item-id="ROLES"]:before {
		-webkit-mask: url("https://i.imgur.com/uPnlvbf.png");
		-webkit-mask-size: 24px !important;
}
/* Emoji */
.side-a0 .item-a0[data-item-id="EMOJI"]:before {
		-webkit-mask: url("https://i.imgur.com/mYbru9j.png");
		-webkit-mask-size: 22px !important;
}
/* Stickers */
.side-a0 .item-a0[data-item-id="STICKERS"]:before {
		-webkit-mask: url("https://i.imgur.com/ZjZ0zvH.png");
		-webkit-mask-size: 22px !important;
}
/* Integrations */
.side-a0 .item-a0[data-item-id="INTEGRATIONS"]:before {
		-webkit-mask: url("https://i.imgur.com/5AZqlJo.png");
		-webkit-mask-size: 20px !important;
}
/* Widget */
.side-a0 .item-a0[data-item-id="WIDGET"]:before {
		-webkit-mask: url("https://i.imgur.com/09n4EBi.png");
		-webkit-mask-size: 22px !important;
}
/* Server Template */
.side-a0 .item-a0[data-item-id="GUILD_TEMPLATES"]:before {
		-webkit-mask: url("https://i.imgur.com/rPuN0Ep.png");
		-webkit-mask-size: 22px !important;
}
/* Custom Invite Link */
.side-a0 .item-a0[data-item-id="VANITY_URL"]:before {
		-webkit-mask: url("https://i.imgur.com/GTLwUuW.png");
		-webkit-mask-size: 22px !important;
}

/* Moderation */
/* Rules Screening */
.side-a0 .item-a0[data-item-id="MEMBER_VERIFICATION"]:before {
		-webkit-mask: url("https://i.imgur.com/CCWM2Rc.png");
		-webkit-mask-size: 22px !important;
}
/* Safety Setup */
.side-a0 .item-a0[data-item-id="MODERATION"]:before {
		-webkit-mask: url("https://i.imgur.com/d9SOIPO.png");
		-webkit-mask-size: 22px !important;
}
/* AutoMod */
.side-a0 .item-a0[data-item-id="GUILD_AUTOMOD"]:before {
		-webkit-mask: url("https://i.imgur.com/Qbj96yk.png");
		-webkit-mask-size: 22px !important;
}
/* Audit Log */
.side-a0 .item-a0[data-item-id="AUDIT_LOG"]:before {
		-webkit-mask: url("https://i.imgur.com/MYZnohc.png");
		-webkit-mask-size: 22px !important;
}
/* Bans */
.side-a0 .item-a0[data-item-id="BANS"]:before {
		-webkit-mask: url("https://i.imgur.com/hcQYiIs.png");
		-webkit-mask-size: 20px !important;
}

/* Community*/
/* Overview */
.side-a0 .item-a0[data-item-id="COMMUNITY"]:before {
		-webkit-mask: url("https://i.imgur.com/TG4b3I9.png");
		-webkit-mask-size: 22px !important;
}
/* Server Insights */
.side-a0 .item-a0[data-item-id="ANALYTICS"]:before {
		-webkit-mask: url("https://i.imgur.com/VbmGX0M.png");
		-webkit-mask-size: 22px !important;
}
/* Partner Program */
.side-a0 .item-a0[data-item-id="PARTNER"]:before {
		-webkit-mask: url("https://i.imgur.com/HzaFQta.png");
		-webkit-mask-size: 22px !important;
}
/* Discovery */
.side-a0 .item-a0[data-item-id="DISCOVERY"]:before {
		-webkit-mask: url("https://i.imgur.com/wpTpSDQ.png");
		-webkit-mask-size: 22px !important;
}
/* Welcome Screen */
.side-a0 .item-a0[data-item-id="COMMUNITY_WELCOME"]:before {
		-webkit-mask: url("https://i.imgur.com/vdEtrlV.png");
		-webkit-mask-size: 22px !important;
}

/* Server Boost Status */
.side-a0 .item-a0[data-item-id="GUILD_PREMIUM"]:before {
	-webkit-mask: url("https://i.imgur.com/Kk2I31C.png");
	background: var(--nitro) !important;
	-webkit-mask-size: 20px !important;
}
.side-a0 .item-a0[data-item-id="GUILD_PREMIUM"] {
		color: var(--nitro) !important;
}
.serverBoostTabItem_cbe0b4[aria-selected=true] {
    background-color: rgba(var(--AccentColor), 0.25) !important;
}
.tabBarItemContainer_c7e907 svg {
		display: none;
}

/* User Managment */
/* Members */
.side-a0 .item-a0[data-item-id="MEMBERS"]:before {
		-webkit-mask: url("https://i.imgur.com/1n4ZW34.png");
		-webkit-mask-size: 22px !important;
}
/* Invites */
.side-a0 .item-a0[data-item-id="INSTANT_INVITES"]:before {
		-webkit-mask: url("https://i.imgur.com/jUqUct8.png");
		-webkit-mask-size: 22px !important;
}


/* Delete Server */
.side-a0 .item-a0[data-item-id="DELETE"]:before {
		-webkit-mask: url("https://i.imgur.com/j4viHnK.png");
		-webkit-mask-size: 22px !important;
		background: var(--red);
}


/* "Roles" Page */
.emptyRoles-35rHsg, .roleRow-3LoHQ6, .tableHeader-2h-wc8 {
    margin-left: -15px;
    margin: 0 -5px;
    padding: 0 2px;
}
.emptyRoles-35rHsg, .roleRow-3LoHQ6 {
    padding-top: 0;
    height: 45px;
}
.customScroller__23e6b>div {
    margin-left: 15px;
}
.titleContainer_e29cd7 {
    padding: 15px 5px 0 15px;
    margin: 0 10px 5px 0;
}
.list_e29cd7 {
    padding: 0 0 0 10px;
}
.row_e29cd7 {
    height: 25px;
    margin-left: 0;
}
.roleName-3910zV {
    margin-left: 5px;
}
.roleRow-3LoHQ6:before, .roleRow-3LoHQ6:last-child:after {
    display: none;
}

.roleNameContainer-1vRTI3 .shield-1jy4L2 {
		-webkit-mask: url("https://i.imgur.com/9r5oCHb.png") center/cover;
}

/* "Integrations" Page */

/* "Permissions" Page */
.role-3pGE29 {
    height: 25px;
    margin: 0 !important;
		line-height: 23px;
}
