/* Server Settings Tabs */
.standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebar-nqHbhN .side-2ur1Qk .item-3XjbnG {
		padding: 0 5px 0 40px;
		margin: 0 0;
		height: 25px;
		line-height: 25px;
}
.standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .item-3XjbnG:before {
		content: "";
		position: absolute;
		left: 5px;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask-position: center !important;
		-webkit-mask-repeat: no-repeat !important;
}

/* -=-= Tab Icons =-=- */
/* UNDEFINED ICONS */
.side-2ur1Qk .item-3XjbnG:before {
		-webkit-mask: url("https://i.imgur.com/9r5oCHb.png");
		-webkit-mask-size: 15px !important;
}
/* Overview */
.side-2ur1Qk .item-3XjbnG[aria-controls="overview-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/DVOL3aX.png");
		-webkit-mask-size: 24px !important;
}
/* Roles */
.side-2ur1Qk .item-3XjbnG[aria-controls="roles-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/uPnlvbf.png");
		-webkit-mask-size: 24px !important;
}
/* Emoji */
.side-2ur1Qk .item-3XjbnG[aria-controls="emoji-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/mYbru9j.png");
		-webkit-mask-size: 22px !important;
}
/* Stickers */
.side-2ur1Qk .item-3XjbnG[aria-controls="stickers-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/ZjZ0zvH.png");
		-webkit-mask-size: 22px !important;
}
/* Integrations */
.side-2ur1Qk .item-3XjbnG[aria-controls="integrations-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/5AZqlJo.png");
		-webkit-mask-size: 20px !important;
}
/* Widget */
.side-2ur1Qk .item-3XjbnG[aria-controls="widget-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/09n4EBi.png");
		-webkit-mask-size: 22px !important;
}
/* Server Template */
.side-2ur1Qk .item-3XjbnG[aria-controls="guild_templates-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/rPuN0Ep.png");
		-webkit-mask-size: 22px !important;
}
/* Custom Invite Link */
.side-2ur1Qk .item-3XjbnG[aria-controls="vanity_url-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/GTLwUuW.png");
		-webkit-mask-size: 22px !important;
}

/* Moderation */
/* Rules Screening */
.side-2ur1Qk .item-3XjbnG[aria-controls="member_verification-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/CCWM2Rc.png");
		-webkit-mask-size: 22px !important;
}
/* Safety Setup */
.side-2ur1Qk .item-3XjbnG[aria-controls="moderation-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/d9SOIPO.png");
		-webkit-mask-size: 22px !important;
}
/* AutoMod */
.side-2ur1Qk .item-3XjbnG[aria-controls="guild_automod-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/Qbj96yk.png");
		-webkit-mask-size: 22px !important;
}
/* Audit Log */
.side-2ur1Qk .item-3XjbnG[aria-controls="audit_log-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/MYZnohc.png");
		-webkit-mask-size: 22px !important;
}
/* Bans */
.side-2ur1Qk .item-3XjbnG[aria-controls="bans-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/hcQYiIs.png");
		-webkit-mask-size: 20px !important;
}

/* Community*/
/* Overview */
.side-2ur1Qk .item-3XjbnG[aria-controls="community-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/TG4b3I9.png");
		-webkit-mask-size: 22px !important;
}
/* Server Insights */
.side-2ur1Qk .item-3XjbnG[aria-controls="analytics-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/VbmGX0M.png");
		-webkit-mask-size: 22px !important;
}
/* Partner Program */
.side-2ur1Qk .item-3XjbnG[aria-controls="partner-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/HzaFQta.png");
		-webkit-mask-size: 22px !important;
}
/* Discovery */
.side-2ur1Qk .item-3XjbnG[aria-controls="discovery-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/wpTpSDQ.png");
		-webkit-mask-size: 22px !important;
}
/* Welcome Screen */
.side-2ur1Qk .item-3XjbnG[aria-controls="community_welcome-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/vdEtrlV.png");
		-webkit-mask-size: 22px !important;
}

/* Server Boost Status */
.side-2ur1Qk .item-3XjbnG[aria-controls="guild_premium-tab"]:before {
	-webkit-mask: url("https://i.imgur.com/Kk2I31C.png");
	background: var(--nitro) !important;
	-webkit-mask-size: 20px !important;
}
.side-2ur1Qk .item-3XjbnG[aria-controls="guild_premium-tab"] {
		color: var(--nitro) !important;
}
.serverBoostTabItem-3QwA3W[aria-selected=true] {
    background-color: rgba(var(--AccentColor), 0.25) !important;
}
.tabBarItemContainer-2HdIlr svg {
		display: none;
}

/* User Managment */
/* Members */
.side-2ur1Qk .item-3XjbnG[aria-controls="members-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/1n4ZW34.png");
		-webkit-mask-size: 22px !important;
}
/* Invites */
.side-2ur1Qk .item-3XjbnG[aria-controls="instant_invites-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/jUqUct8.png");
		-webkit-mask-size: 22px !important;
}


/* Delete Server */
.side-2ur1Qk .item-3XjbnG[aria-controls="delete-tab"]:before {
		-webkit-mask: url("https://i.imgur.com/j4viHnK.png");
		-webkit-mask-size: 22px !important;
		background: var(--red);
}


/* "Roles" Page */
.emptyRoles-35rHsg, .roleRow-3LoHQ6, .tableHeader-2h-wc8 {
    margin-left: -15px;
    margin: 0 -5px;
    padding: 0 2px;
}
.emptyRoles-35rHsg, .roleRow-3LoHQ6 {
    padding-top: 0;
    height: 45px;
}
.customScroller-m1-jZn>div {
    margin-left: 15px;
}
.titleContainer-3fPic2 {
    padding: 15px 5px 0 15px;
    margin: 0 10px 5px 0;
}
.list-1AJFv_ {
    padding: 0 0 0 10px;
}
.row-LoqnA5 {
    height: 25px;
    margin-left: 0;
}
.roleName-3910zV {
    margin-left: 5px;
}
.roleRow-3LoHQ6:before, .roleRow-3LoHQ6:last-child:after {
    display: none;
}

.roleNameContainer-1vRTI3 .shield-1jy4L2 {
		-webkit-mask: url("https://i.imgur.com/9r5oCHb.png") center/cover;
}

/* "Integrations" Page */

/* "Permissions" Page */
.role-3pGE29 {
    height: 25px;
    margin: 0 !important;
		line-height: 23px;
}
