/* Server List - Home */
#app-mount svg .homeIcon-r0w4ny {
    color: transparent;
    background: url("https://i.imgur.com/kdb4zUy.png") no-repeat center/cover;
    height: 100%;
    width: 100%;
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: rgba(var(--AccentColor), 0.25);
}

/* Server Pills */
.item-2LIpTv {
	background-color: rgba(var(--AccentColor), 1) !important;
}

/* DM Divider */
.guildSeparator-a4uisj {
    height: 2px;
    width: 25px;
    background-color: rgba(var(--AccentColor), 1);
}

/* Add Server + Server Discovery */
.wrapper-28eC3z .circleIconButton-1VxDrg svg {
		width: 30px;
		height: 30px;
		color: #fff;
}
.wrapper-28eC3z .circleIconButton-1VxDrg[data-list-item-id*="guildsnav___guild-discover-button"] svg {
		-webkit-mask: url("https://i.imgur.com/pA2k00g.png") center/cover;
		background: white;
}
.wrapper-28eC3z .circleIconButton-1VxDrg[data-list-item-id*="guildsnav___create-join-button"] svg {
		-webkit-mask: url("https://i.imgur.com/Mm7wgGi.png") center/cover;
		background: white;
}

/* Server Folders */
.expandedFolderIconWrapper-3RwQpD svg {
		-webkit-mask: url("https://i.imgur.com/NNsO7yc.png") center/cover;
}

.iconBadge-32fMme {
    background-color: rgba(var(--SecondaryBG));
    color: rgba(var(--AccentColor), 1);
}
