/* Server List - Home */
#app-mount svg .homeIcon-r0w4ny {
    color: transparent;
    background: url("https://i.imgur.com/kdb4zUy.png") no-repeat center/cover;
    height: 100%;
    width: 100%;
}
.expandedFolderIconWrapper-3RwQpD svg {
		-webkit-mask: url("https://i.imgur.com/NNsO7yc.png") center/cover;
}

/* Server Pills */
.item-2LIpTv {
	background-color: rgba(var(--AccentColor), 1) !important;
}
