/* -=-= Settings =-=- */
/* Customizable Settings Title */
[aria-label="User Settings"].side_a0:before {
		content: var(--CustomSettingsHeaderText);
		display: grid;
		color: rgba(var(--AccentColor), 1);
		margin-left: 0;
		margin-bottom: 2px;
		padding-left: 10px;
		padding-bottom: 2px;
		border-bottom: 2px dashed rgba(var(--AccentColor), 0.75);
		font-size: 13px;
}
[aria-label="User Settings"].side_a0 .item_a0:before {
		content: "";
		position: absolute;
		left: 15px;
		transform: translateY(-50%);
		background-size: cover !important;
		background-position: center !important;
		display: block;
		width: 25px !important;
		height: 25px !important;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask-size: cover !important;
}
.theme-dark .themed-OHr7kt.item_a0 {
		color: rgba(var(--AccentColor), 1);
		height: 25px;
}

/* Settings Headers */
.side_a0 .header_a0, .side_a0 .item_a0 {
		padding: 5px 10px;
		margin: 0 0 2px 0;
}
.header_a0 {
		font-size: 13px;
		font-weight: 600;
		line-height: 15px;
		text-transform: none;
		color: #fff;
		border-bottom: 2px dashed rgba(var(--AccentColor), 0.75);
}
.side_a0 .separator_a0 {
		margin: 2px 0;
		height: 0;
		background-color: transparent;
		border-bottom: 2px dashed rgba(var(--AccentColor), 0.75);
}
.sidebar_c25c6d {
		width: 250px;
		padding: 25px 5px 20px 5px;
}
.h1-34Txb0 {
    border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}
.defaultMarginh1-EURXsm, .defaultMarginh2-t7G-2y {
    margin-bottom: 5px;
}

/* Settings Width */
.contentColumnDefault_c25c6d {
    padding: 25px;
}
.contentColumn_c25c6d, .customColumn_c25c6d {
    max-width: 750px;
    min-width: 450px;
}

/* Close Button */
#app-mount .toolsContainer_c25c6d {
		position: absolute;
		margin-left: -250px;
}
#app-mount .closeButton_df5532 {
		width: 250px;
		border: none;
		margin-top: -85px;
		cursor: crosshair;
		flex: 0 0 45px;
		margin-left: -10px;
}
#app-mount .closeButton_df5532:hover {
		background-color: rgba(var(--AccentColor), 0.15);
}
#app-mount .keybind_df5532 {
		display: none;
}

/* Sliders */
.theme-dark .bar-1Bhnl9 {
    background: rgba(var(--SecondaryBG));
}
.barFill-2Bh7CX {
    background: rgba(var(--AccentColor), 1);
}

/* Settings Tabs */
.layer_d4b6c5  [aria-label="User Settings"] .item_a0 {
		padding: 0 5px 0 40px;
		margin: 0 0;
		height: 25px;
		line-height: 25px;
		cursor: crosshair;
}
.layer_d4b6c5  [aria-label="User Settings"] .item_a0:before {
		content: "";
		position: absolute;
		left: 5px;
		top: 50%;
		width: 25px;
		height: 25px;
		background: rgba(var(--AccentColor), 1);
		-webkit-mask-position: center !important;
		-webkit-mask-repeat: no-repeat !important;
}
.side_a0 .themed_a0.item_a0:hover:not(.disabled_a0) {
    margin-left: 2px;
}

.side_a0 .item_a0{
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
}
.sidebarRegion_c25c6d {
		flex: var(--SettingsSidebarSpacing) 0 0;
		z-index: 0;
}
.selected-g-kMVV.item_a0, .selected-g-kMVV.item_a0:hover {
		color: rgba(var(--AccentColor), 1);
}
.side_a0 .themed-2-lozF.item_a0:hover:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item_a0:hover:not(.disabled-1nofHP) {
		background: rgba(var(--AccentColor), 0.15);
		left: 2px;
}

/* -=-= Tab Icons =-=- */
/* My Account */
[aria-label="User Settings"].side_a0 .item_a0[aria-label="My Account"]:before {
		-webkit-mask: url("https://i.imgur.com/DVOL3aX.png");
		-webkit-mask-size: 24px !important;
}
/* User Profile */
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Profiles"]:before {
		-webkit-mask: url("https://i.imgur.com/ctWX4nh.png");
		-webkit-mask-size: 24px !important;
}
/* Privacy & Safety */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Privacy & Safety"]:before {
		-webkit-mask: url("https://i.imgur.com/cPWXDFI.png");
		-webkit-mask-size: 20px !important;
}
/* Family Center */
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Family Center"]:before {
		-webkit-mask: url("https://i.imgur.com/KrVnqxZ.png");
		-webkit-mask-size: 24px !important;
} 
/* Authorized Apps */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Authorized Apps"]:before {
		-webkit-mask: url("https://i.imgur.com/ppkSB1y.png");
		-webkit-mask-size: 24px !important;
} 
/* Devices */
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Devices"]:before {
		-webkit-mask: url("https://i.imgur.com/FAvNcWS.png");
		-webkit-mask-size: 20px !important;
}
/* Connections */
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Connections"]:before {
		-webkit-mask: url("https://i.imgur.com/FPSwqR3.png");
		-webkit-mask-size: 24px !important;
}
/* Clips */
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Clips"]:before {
		-webkit-mask: url("https://i.imgur.com/U6qtcWY.png");
		-webkit-mask-size: 24px !important;
}
/* Friend Requests */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Friend Requests"]:before {
		-webkit-mask: url("https://i.imgur.com/vdEtrlV.png");
		-webkit-mask-size: 22px !important;
}

/* Discord Nitro */
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Nitro"]:before {
		-webkit-mask: url("https://i.imgur.com/NZErG4G.png");
		background: #7289DA;
		-webkit-mask-size: 20px !important;
}
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Nitro"] {
		color: #7289DA;
}
.selectedBackground_ae3c77 {
		background: transparent;
}
.selected_ae3c77 {
		color: #7289DA;
}
.premiumLabel_ae3c77 svg {
		display: none;
}
.premiumLabel_ae3c77:before {
		content: "Discord Nitro";
		color: inherit;
		font-size: 16px;
}
.premiumLabel_ae3c77 {
		font-size: 0;
}

/* Server Boost */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Nitro Server Boost"]:before {
		-webkit-mask: url("https://i.imgur.com/Kk2I31C.png");
		background: var(--nitro) !important;
		-webkit-mask-size: 20px !important;
}
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Nitro Server Boost"] {
		color: var(--nitro) !important;
}
/* Subscriptions */
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Subscriptions"]:before {
		-webkit-mask: url("https://i.imgur.com/MVQrQES.png");
		background: #7289DA;
		-webkit-mask-size: 22px !important;
}
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Subscriptions"] {
		color: #7289DA !important;
}
/* Gift Inventory */
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Gift Inventory"]:before {
		-webkit-mask: url("https://i.imgur.com/8YB8kLP.png");
		background: #7289DA !important;
		-webkit-mask-size: 22px !important;
}
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Gift Inventory"] {
		color: #7289DA !important;
}
/* Billing */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Billing"]:before {
		-webkit-mask: url("https://i.imgur.com/tKem7TH.png");
		background: #7289DA !important;
		-webkit-mask-size: 22px !important;
}
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Billing"] {
		color: #7289DA !important;
}

/* Appearance */
[aria-label="User Settings"].side_a0 .item_a0[aria-label="Appearance"]:before {
		-webkit-mask: url("https://i.imgur.com/DXx8G4c.png");
		-webkit-mask-size: 22px !important;
}
/* Accessibility */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Accessibility"]:before {
		-webkit-mask: url("https://i.imgur.com/7t00uZn.png");
		-webkit-mask-size: 22px !important;
}
/* Voice & Video */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Voice & Video"]:before {
		-webkit-mask: url("https://i.imgur.com/uowLiRY.png");
		-webkit-mask-size: 22px !important;
}
/* Text & Images */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Text & Images"]:before {
		-webkit-mask: url("https://i.imgur.com/Ik3jSHK.png");
		-webkit-mask-size: 24px !important;
}
/* Notifications */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Notifications"]:before {
		-webkit-mask: url("https://i.imgur.com/bH8EjSM.png");
		-webkit-mask-size: 22px !important;
}
/* Keybinds */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Keybinds"]:before {
		-webkit-mask: url("https://i.imgur.com/QfH484A.png");
		-webkit-mask-size: 24px !important;
}
/* Language */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Language"]:before {
		-webkit-mask: url("https://i.imgur.com/pA2k00g.png");
		-webkit-mask-size: 22px !important;
}
/* Windows Settings */
.platform-win [aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Windows"]:before {
		-webkit-mask: url("https://i.imgur.com/rl4rlZ5.png");
		-webkit-mask-size: 22px !important;
		background: #0080ff;
}
.platform-win [aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Windows"] {
		color: #0080ff !important;
}
/* Streamer Mode */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Streamer Mode"]:before {
		-webkit-mask: url("https://i.imgur.com/JrtGlXe.png");
		-webkit-mask-size: 22px !important;
}
/* Advanced */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Advanced"]:before {
		-webkit-mask: url("https://i.imgur.com/qcdeaXb.png");
		-webkit-mask-size: 22px !important;
}
/* OpenAsar */
[aria-label="User Settings"].side_a0 .item_a0[id="openasar-item"]:before {
		-webkit-mask: url("https://i.imgur.com/BcvgEQU.png");
		-webkit-mask-size: 22px !important;
}

/* Activity Privacy */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Activity Privacy"]:before {
		-webkit-mask: url("https://i.imgur.com/zuiKdp1.png");
		-webkit-mask-size: 22px !important;
}
/* Registered Games */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Game Activity"]:before {
		-webkit-mask: url("https://i.imgur.com/iAB8BmS.png");
		-webkit-mask-size: 22px !important;
}
/* Game Overlay */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Overlay"]:before {
		-webkit-mask: url("https://i.imgur.com/F2G7Xgi.png");
		-webkit-mask-size: 22px !important;
}

/* Vencord Settings */
/* VC - Vencord */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="VencordSettings"]:before {
		-webkit-mask: url("https://i.imgur.com/pYqekDg.png");
		-webkit-mask-size: 22px !important;
}
/* VC - Updater */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="VencordUpdater"]:before {
		-webkit-mask: url("https://i.imgur.com/IYrkNiU.png");
		-webkit-mask-size: 22px !important;
}
/* VC - Cloud */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="VencordCloud"]:before {
		-webkit-mask: url("https://i.imgur.com/RIFzsBJ.png");
		-webkit-mask-size: 22px !important;
}
/* VC - Backup & Restore */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="VencordSettingsSync"]:before {
		-webkit-mask: url("https://i.imgur.com/Fnc1wVJ.png");
		-webkit-mask-size: 22px !important;
}
/* VC - Plugins */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="VencordPlugins"]:before {
		-webkit-mask: url("https://i.imgur.com/CB6mfdr.png");
		-webkit-mask-size: 22px !important;
}
/* VC - Themes */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="VencordThemes"]:before {
		-webkit-mask: url("https://i.imgur.com/6Rv7VNd.png");
		-webkit-mask-size: 22px !important;
}

/* Experiments */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Experiments"]:before {
		-webkit-mask: url("https://i.imgur.com/70TrvzT.png");
		-webkit-mask-size: 22px !important;
}
/* Developer Options */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Developer Options"]:before {
		-webkit-mask: url("https://i.imgur.com/ktta04Y.png");
		-webkit-mask-size: 22px !important;
}
/* Hotspot Options */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Hotspot Options"]:before {
		-webkit-mask: url("https://i.imgur.com/MYZnohc.png");
		-webkit-mask-size: 22px !important;
}
/* Dismissible Contents */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Dismissible Content Options"]:before {
		-webkit-mask: url("https://i.imgur.com/zdtKvtF.png");
		-webkit-mask-size: 22px !important;
}
/* Payment Flow Modals */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Payment Flow Modals"]:before {
		-webkit-mask: url("https://i.imgur.com/nladWxJ.png");
		-webkit-mask-size: 22px !important;
}

/* Change Log */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="changelog"]:before {
		-webkit-mask: url("https://i.imgur.com/aidoNOF.png");
		-webkit-mask-size: 22px !important;
}
/* HypeSquad */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="Hypesquad Online"]:before {
		-webkit-mask: url("https://i.imgur.com/lSJh47D.png");
		-webkit-mask-size: 22px !important;
}
/* Merch */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="merchandise"]:before {
		-webkit-mask: url("https://i.imgur.com/SkBBk3x.png");
		-webkit-mask-size: 22px !important;
}
/* Log Out */
[aria-label="User Settings"].side_a0 .item_a0[data-tab-id="logout"]:before {
		-webkit-mask: url("https://i.imgur.com/Q1iCApb.png");
		background: var(--red);
		-webkit-mask-size: 22px !important;
}

/* Tabs */
.side_a0 .themed-2-lozF.selected-g-kMVV.item_a0, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item_a0 {
		background-color: rgba(var(--AccentColor), 0.25);
}

.accountProfileCard_b69b77 {
		background-color: rgba(var(--PrimaryBG));
}
.background_b69b77 {
		background-color: rgba(var(--PrimaryBG));
		padding: 10px;
		margin: 15px;
}
.userInfo_b69b77 {
		height: 75px;
		width: 100%;
		padding: 10px 10px 0 185px;
		background-color: rgba(var(--PrimaryBG));
}
.userTag_b69b77 {
		margin-bottom: 5px;
		color: rgba(var(--AccentColor), 1);
		font-size: 20px;
		line-height: 25px;
}
.avatar_b69b77 {
		border: none;
		top: 25px;
		left: 15px;
		width: 150px !important;
		height: 150px !important;
		image-rendering: pixelated;
}
.avatar_b69b77 svg {
		top: 25px;
		left: 15px;
		width: 150px !important;
		height: 150px !important;
		image-rendering: pixelated;
}
.fieldSpacer_b69b77 {
		margin-top: 10px;
}

.socialLinks_c44e94 {
		display: none;
}

/* Checkboxes */
.container-2nx-BQ {
		width: 25px;
		height: 25px;
		border: 2px dashed rgba(var(--AccentColor), 1);
		background: rgba(var(--AccentColor), 0.15) !important;
}
.container-2nx-BQ[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
		background: rgba(var(--AccentColor), 1) !important;
		border: 2px dashed rgba(var(--SecondaryBG), 0.5);
}
.container-2nx-BQ:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background: transparent;
		-webkit-mask-size: 20px !important;
		-webkit-mask-position: center !important;
		-webkit-mask-repeat: no-repeat !important;
}
.container-2nx-BQ[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"]:before {
		-webkit-mask: url("https://i.imgur.com/9y2D5rL.png");
		color: rgba(var(--PrimaryBG));
		background: rgba(var(--PrimaryBG));
}

.slider-32CRPX {
		display: none;
}
.input-2XRLou {
		bottom: 0;
		margin: 0 0;
}

/* "My Account" Page */
.discriminator_b69b77 {
    color: rgba(var(--AccentColor), 0.75);
}
.colorHeaderPrimary-jN_yGr {
    color: rgba(var(--AccentColor), 1);
		background: rgba(var(--PrimaryBG)) !important;
}

.lookLink-15mFoz.colorLink-1Md3RZ {
    color: rgba(var(--AccentColor), 1);
		text-decoration: underline;
		text-decoration-style: dashed;
}
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo {
    color: rgba(var(--AccentColor), 0.5);
}
.divider-_0um2u {
    display: none;
}
.userSettingsSecurity-3C5Hg5 .lockIcon-1FHuKP {
    margin-right: 5px;
		-webkit-mask: url("https://i.imgur.com/cPWXDFI.png") no-repeat center/cover;
		width: 18px;
		height: 18px;
		margin-bottom: -2px;
		background: var(--green) !important;
		color: var(--green) !important;
}
.description-30xx7u, .labelDescriptor-34wZ-z {
    color: rgba(var(--AccentColor), 0.35);
}

.lookOutlined-3yKVGo.colorRed-rQXKgM {
    color: rgba(var(--AccentColor), 1);
		background: rgba(var(--SecondaryBG));
    border: 1px dashed rgba(var(--AccentColor), 1);
}
.lookFilled-yCfaCM.colorRed-rQXKgM {
    color: var(--red);
    background: var(--redDarker);
}
.lookFilled-yCfaCM.colorRed-rQXKgM:hover {
		color: rgba(var(--PrimaryBG));
		background: var(--redDark);
}
.changePasswordButton-3BNRIw {
    margin-bottom: 5px;
}
.marginTop40_f7730b {
    margin-top: 10px;
}

/* "Profiles" Page */
.avatarUploaderInner_ab876d {
    width: 150px;
    height: 150px;
    border: 5px solid rgba(var(--SecondaryBG));
		image-rendering: pixelated;
}
.popoutInfo-16MuYF {
    padding: 10px;
		background: rgba(var(--PrimaryBG));
}
.fakeActivityIcon_dfbe6b.wumpus-otZFUO {
    background: rgba(var(--AccentColor), 0.25);
}
.avatarUploaderIcon-3-5PWB {
    display: none;
}
.bioTextArea_ccf27d, .bioTextArea_ccf27d:focus-within {
    border: none;
}
.optionBox-1UOevl {
    background-color: rgba(var(--SecondaryBG));
    transition: none;
    cursor: crosshair;
    padding: 5px;
    width: 125px;
		height: 75px;
}
.contentCircle-15IFyT, .gifIconContainer-3os21a {
    height: 40px;
    width: 115px;
    background: rgba(var(--SecondaryBG));
    margin: 0 0;
}
.uploadIcon-2zMtOT {
    height: 42px;
    width: 42px;
    padding: 0 0;
		-webkit-mask: url("https://i.imgur.com/PI7tRHE.png") center/cover;
		color: rgba(var(--AccentColor), 1);
		background: rgba(var(--AccentColor), 1);
}
.gifIcon-3NzDDk {
		height: 42px;
		width: 42px;
		padding: 0 0;
		-webkit-mask: url("https://i.imgur.com/qemHq8Q.png") center/cover;
		color: rgba(var(--AccentColor), 1);
		background: rgba(var(--AccentColor), 1);
}
.gifGrid-2qiEW6 {
    display: none;
}
.optionBoxText-3NXexb {
    margin-top: 5px;
    transition: none;
}
.customizationSection_b3a5c2 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border: none;
}
.divider__8b90f, .tabBar_bff66b {
    border: none;
}
.top-K_jibn .brand-3g5E0C.item_a0:active,
.top-K_jibn .brand-3g5E0C.item_a0:hover,
.top-K_jibn .brand-3g5E0C.selected-g-kMVV.item_a0 {
	border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}

.status_ab876d, .statusDotBackground_ab876d {
    display: none;
}
.avatarUploader_ab876d {
    left: 10px;
}
.avatarUploaderNormal_ab876d {
    top: 10px;
}
.spinningAvatar_eb2d2c {
    animation: rainbow 3s infinite linear;
}

/* "Privacy & Safety" Page */
.radioBar-3w9XY- {
    border-left: 5px dashed var(--radio-bar-accent-color);
		border-right: 5px dashed var(--radio-bar-accent-color);
    grid-gap: 5px;
}
.radioBar-3w9XY- svg {
    display: none;
}
.itemFilled-1cPbtg[aria-checked=true] {
		color: rgba(var(--AccentColor), 1);
}
.itemFilled-1cPbtg:hover:not([aria-checked=true]) {
    background: rgba(var(--SecondaryBG));
}
.itemFilled-1cPbtg[aria-checked=true] .radioBar-3w9XY-[style*="--radio-bar-accent-color:hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%); padding: 10px;"] {
		background: rgba(67, 181, 129, 0.15);
}
.itemFilled-1cPbtg[aria-checked=true] .radioBar-3w9XY-[style*="--radio-bar-accent-color:hsl(37, calc(var(--saturation-factor, 1) * 81.2%), 43.9%); padding: 10px;"] {
		background: rgba(250, 166, 26, 0.15)
}
.itemFilled-1cPbtg[aria-checked=true] .radioBar-3w9XY-[style*="--radio-bar-accent-color:hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%); padding: 10px;"] {
		background: rgba(240, 71, 71, 0.15);
}

.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
    color: rgba(var(--AccentColor), 1);
    border: 2px dotted rgba(var(--AccentColor), 1);
}
.cardPrimary-3qRT__ {
    background: rgba(var(--SecondaryBG), 0.25);
		border: none;
}
.formNotice-2nS8ey {
    padding: 10px;
}
.marginBottom40_f7730b {
    margin-bottom: 5px;
}

/* "Authorized Apps" Page */
.cardPrimaryOutline-1ofwVz {
    border: none;
		border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}
.authedApp-1tw-eT {
    padding: 10px;
		margin-bottom: 0;
}
.authedApp-1tw-eT .marginBottom20_f7730b {
    margin-bottom: 5px;
}
.marginTop20_f7730b {
    margin-top: 5px;
}
.permissionCheckmark-2XFmCt {
    -webkit-mask: url("https://i.imgur.com/9y2D5rL.png") center/cover;
    width: 18px;
    height: 18px;
		color: var(--green);
		background: var(--green);
		margin-right: 2px;
}

/* "Connections" Page */
.accountList-Wii_T5 {
    padding: 10px;
    background-color: rgba(var(--SecondaryBG));
}
.accountBtn-1YkMgV {
    margin: 0 10px;
}
.connectionList-1NoxUk {
    grid-gap: 5px;
}
.connectionHeader_e2a436 {
    padding: 10px;
    background: rgba(var(--SecondaryBG));
}
.connectionDelete_e2a436 {
    cursor: crosshair;
    color: var(--red);
    margin-right: 10px;
}
.connectionOptionsWrapper_e2a436 {
    padding: 5px 0;
}
.marginBottom8_f7730b {
    margin-bottom: 0;
}
.container-1zDvAE {
    margin: 5px;
}

/* "Discord Nitro" Page */
.featureImageWrapper-2ndc8N {
    display: none;
}
.subscriptionsRedirectContainer-zD3U79 {
    display: none;
}
.hero-1aNo0v {
    background: rgba(var(--SecondaryBG));
    height: 200px;
		min-width: 700px;
}
.heroIcon-3kmupU {
    margin-top: 15px;
    width: 150px;
    height: 50px;
    color: var(--nitro);
}
.hero-1aNo0v .heroHeader-1A0uOZ {
    color: rgba(var(--AccentColor), 1);
    margin-top: 10px;
}
.heroBody-20fY29 {
    color: rgba(var(--AccentColor), 1);
    margin-top: 5px;
    max-width: 650px;
}
.lookInverted-2mDUMi.colorBrand-I6CyqQ {
    color: var(--nitro);
    background-color: rgba(var(--PrimaryBG));
}
.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover {
    color: var(--nitro);
    background-color: rgba(var(--PrimaryBG), 0.5);
}
.marketingRefreshTier2Cta-2dN2zP {
    display: none;
}
.marketingRefreshTier1Graphic-1mUnMb {
    display: none;
}
.marketingRefreshTier1Logo-38ksW_ {
    color: var(--nitro);
    height: 20px;
    margin-bottom: 5px;
    width: 200px;
}
.marketingRefreshSectionTier1-1chtWC {
    color: rgba(var(--AccentColor), 1);
    border-top: 2px dashed var(--nitro);
    margin-top: 10px;
    padding-top: 10px;
}
.perkList-1bla2U, .perkListItem-1x38F5 {
    margin-bottom: 10px;
}

.featuresHeader-2bjq5B {
    display: none;
}
.featureTitle-3N9Stg {
		color: var(--nitro) !important;
}
#app-mount .feature-2IUcBI {
    min-height: 50px;
    padding: 5px 10px;
		background-color: rgba(var(--SecondaryBG));
}
.featureGrid-SSlfD0 {
    display: grid;
		grid-template-columns: auto auto;
    grid-gap: 5px;
    margin-top: 10px;
}


.input-2g-os5 {
    font-size: 15px;
    color: rgba(var(--AccentColor), 1);
    background: rgba(var(--PrimaryBG));
}
/* Search Box */
.searchBar_e7c031 {
    margin-bottom: 0;
}
.side_a0 [style="margin-bottom: 8px;"] {
		margin-bottom: 0 !important;
}
.container_effbe2 {
    background: rgba(var(--PrimaryBG), 1);
}


.side_a0 .themed_a0.selected_a0.item_a0 {
    background: rgba(var(--AccentColor), 0.25);
}

/* Buttons */
.lookFilled_dd4f85.colorBrand_dd4f85, .lookFilled_dd4f85.colorPrimary_dd4f85 {
    color: rgba(var(--AccentColor), 1);
    background: rgba(var(--TertiaryBG), 1);
		border: 2px dashed rgba(var(--AccentColor), 1);
		font-weight: 700;
		transition: none;
}
.lookFilled_dd4f85.colorBrand_dd4f85:hover, .lookFilled_dd4f85.colorPrimary_dd4f85:hover {
    color: rgba(var(--AccentColor), 1);
    background: rgba(var(--AccentColor), 0.50);
		border: 2px dashed rgba(var(--AccentColor), 1);
}
.lookFilled_dd4f85.colorBrand_dd4f85:active, .lookFilled_dd4f85.colorPrimary_dd4f85:active {
    color: rgba(var(--PrimaryBG));
    background: rgba(var(--AccentColor), 1);
		border: 2px dashed rgba(var(--AccentColor), 1);
}

/* Header Text */
.h5_c46f6a {
    color: rgba(var(--AccentColor), 1);
}

/* Switches */
.container_cebd1c {
	-webkit-mask: url("https://i.imgur.com/6cbtmtc.png") center/cover;
		background: rgba(var(--AccentColor), 0.5) !important;
    width: 32px;
    height: 32px;
    cursor: crosshair;
}
.checked_cebd1c {
		background: rgba(var(--AccentColor), 1) !important;
		color: rgba(var(--AccentColor), 1);
		-webkit-mask: url("https://i.imgur.com/tT3ipI9.png") center/cover;
}
.slider_cebd1c {
    width: 0;
		cursor: crosshair;
}