/* Title bar and window buttons */
.typeWindows__421ed {
		height: 0;
		margin-top: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
}
#app-mount .winButton__421ed {
		top: calc(100vh - 50px);
		margin-top: 10px !important;
}
#app-mount .titleBar__421ed:after {
		content: "";
		position: relative;
		height: 10px;
		width: 1500px;
		top: 0;
		left: -120px;
		-webkit-app-region: drag;
}
.winButton__421ed {
		 position: relative;
		 top: 10px;
		 left: -25px;
		 height: 25px;
		 width: 35px;
		 background-color: rgba(var(--TetriaryBG));
		 color: rgba(var(--AccentColor), 1);
}
.winButton__421ed:hover {
		 color: rgba(var(--AccentColor), 1);
		 background: rgba(var(--AccentColor), 0.25);
}

.colorNotification-24Qhr6 {
    background-color: rgba(var(--SecondaryBG));
    color: rgba(var(--AccentColor), 1);
}
