/* Title bar and window buttons */
.typeWindows__421ed {
		height: 0;
		margin-top: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
}
.bar_c38106 {
    gap: 0;
    min-height: 0;
		height: 5px;
    padding: 0;
}
#app-mount .titleBar__421ed:after {
		content: "";
		position: relative;
		height: 10px;
		width: 1500px;
		top: 0;
		left: -120px;
		-webkit-app-region: drag;
}
.winButtons_c38106 {
		position: relative;
		right: 15px;
		height: 25px;
		width: 75px;
		top: calc(100vh - 25px);
		margin-top: 0 !important;
		gap: unset;
		background: rgba(var(--TetriaryBG)) !important;
		color: rgba(var(--AccentColor), 1);
}
.winButtons_c38106 .winButtonMinMax_c38106 {
		 color: rgba(var(--AccentColor), 1);
		 background: rgba(var(--TetriaryBG));
}
.winButtons_c38106 .winButtonMinMax_c38106[aria-label^="Minimize"]:hover {
		 color: rgba(var(--AccentColor), 1);
		 background: rgba(var(--AccentColor), 0.25);
}
.winButtons_c38106 .winButtonMinMax_c38106[aria-label^="Maximize"]:hover {
		 color: rgba(var(--AccentColor), 1);
		 background: rgba(var(--AccentColor), 0.25);
}
.winButtonsWithDivider_c38106:before {
    display: none;
}
.colorNotification-24Qhr6 {
    background-color: rgba(var(--SecondaryBG));
    color: rgba(var(--AccentColor), 1);
}
