/* Title bar and window buttons */
.typeWindows_a934d8 {
		height: 0;
		margin-top: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
}
.winButton_a934d8 {
		position: relative;
		top: 10px;
		height: 25px;
		width: 40px;
		background-color: rgba(var(--PrimaryBG));
}
#app-mount .winButton_a934d8 {
		top: calc(100vh - 50px);
		margin-top: 10px !important;
}
#app-mount .titleBar_a934d8:after {
		content: "";
		position: relative;
		height: 10px;
		width: 1500px;
		top: 0;
		left: -120px;
		-webkit-app-region: drag;
}
.winButton_a934d8 {
		 position: relative;
		 top: 10px;
		 left: -25px;
		 height: 25px;
		 width: 35px;
		 background-color: rgba(var(--PrimaryBG));
		 color: rgba(var(--AccentColor), 1);
}
.winButton_a934d8:hover {
		 color: rgba(var(--AccentColor), 1);
		 background: rgba(var(--SecondaryBG));
}

.colorNotification-24Qhr6 {
    background-color: rgba(var(--SecondaryBG));
    color: rgba(var(--AccentColor), 1);
}
