/* -=-= Unsorted Code (most likely dead code) =-=- */
.actionIcon-2Hi9ZG {
		width: 20px;
		height: 20px;
		color: rgba(var(--AccentColor), 0.5);
}
.actionIcon-2Hi9ZG:hover {
		color: rgba(var(--AccentColor), 1);
}

.icon__9293f {
		color: rgba(var(--AccentColor), 1) !important;
}

#app-mount .modal-yWgWj- .action-1lSjCi .actionIcon-2IISM_ {
		filter: none;
}

.actionButton-3W1xZa {
		min-height: 25px;
}
.theme-dark .create-3jownz:hover .actionButton-2PeQbJ, .theme-light .create-3jownz:hover .actionButton-2PeQbJ {
		background-color: rgba(var(--AccentColor), 1);
}

.app__160d8 button {
		color: rgba(var(--AccentColor), 1);
		cursor: crosshair;
}

#app-mount .scroller-2FKFPG {
		background: rgba(var(--PrimaryBG));
}
.actionButton-uPB8Fs {
		cursor: crosshair;
		width: 35px;
		height: 35px;
		background-color: rgba(var(--SecondaryBG));
}

#emoji-picker-tab-panel foreignObject {
		mask: none !important;
}


/* Discover Page */
#app-mount .pageWrapper_a3a4ce {
	background: rgba(var(--PrimaryBG));
	color: rgba(var(--AccentColor), 1);
}
.headerImage-2D5D-v {
	display: none;
}
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz {
	font-size: 15px;
	padding: 10px;
	color: rgba(var(--AccentColor), 1);
}
.searchBox__56feb .searchBoxInput__56498 {
	font-size: 15px;
	padding: 10px;
	background: rgba(var(--SecondaryBG));
}
.search-25t1e9 .searchBox-31Zv9h {
	background: rgba(var(--SecondaryBG));
}
.search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL {
		display: none;
}
.theme-dark .searchBox__56feb {
	background-color: rgba(var(--SecondaryBG));
	box-shadow: none;
}

/* Server Boost Fullscreen */
.theme-dark .perksModal-CLcR1c {
	background: transparent;
}

/* Remove Vencord Images in Vencord settings */
.vc-settings-card {
    display: none;
}

// no there's no new unreads shoo
.container__7aaec {
    display: none;
}
.unreadMentionsIndicatorBottom_ef3116 {
    display: none;
}

.descriptionClamp_f5f93a:not(.headerText_faa96b .descriptionClamp_f5f93a) {
  -webkit-line-clamp: unset;
  max-height: 400px;
}
.viewFullBio_f5f93a{display: none;
}

/* nuke activities in server tooltips */
.row_b1f768+.row_b1f768 {
    display: none;
}

/* nuke voice chat popups */
.container__4e30a, .streamPreview__6da2d, .popout__7fe3a {
    display: none;
}

/* activity names */
.activityUserPopout_c1d9fd .content__2ef49, .activityUserPopout_c1d9fd .name__2ef49, .activityUserPopout_c1d9fd .details__2ef49, .activityUserPopout_c1d9fd .activityName__2ef49, .activityUserPopout_c1d9fd .nameNormal__2ef49, .activityUserPopout_c1d9fd .nameWrap__2ef49, .activityProfile_c1d9fd .content__2ef49, .activityProfile_c1d9fd .name__2ef49, .activityProfile_c1d9fd .details__2ef49, .activityProfile_c1d9fd .activityName__2ef49, .activityProfile_c1d9fd .nameNormal__2ef49, .activityProfile_c1d9fd .nameWrap__2ef49, .activityProfileV2_c1d9fd .content__2ef49, .activityProfileV2_c1d9fd .name__2ef49, .activityProfileV2_c1d9fd .details__2ef49, .activityProfileV2_c1d9fd .activityName__2ef49, .activityProfileV2_c1d9fd .nameNormal__2ef49, .activityProfileV2_c1d9fd .nameWrap__2ef49, .activitySimplifiedProfile_c1d9fd .content__2ef49, .activitySimplifiedProfile_c1d9fd .name__2ef49, .activitySimplifiedProfile_c1d9fd .details__2ef49, .activitySimplifiedProfile_c1d9fd .activityName__2ef49, .activitySimplifiedProfile_c1d9fd .nameNormal__2ef49, .activitySimplifiedProfile_c1d9fd .nameWrap__2ef49, .activityUserPopoutV2_c1d9fd .content__2ef49, .activityUserPopoutV2_c1d9fd .name__2ef49, .activityUserPopoutV2_c1d9fd .details__2ef49, .activityUserPopoutV2_c1d9fd .activityName__2ef49, .activityUserPopoutV2_c1d9fd .nameNormal__2ef49, .activityUserPopoutV2_c1d9fd .nameWrap__2ef49, .activityBiteSizePopout_c1d9fd .content__2ef49, .activityBiteSizePopout_c1d9fd .name__2ef49, .activityBiteSizePopout_c1d9fd .details__2ef49, .activityBiteSizePopout_c1d9fd .activityName__2ef49, .activityBiteSizePopout_c1d9fd .nameNormal__2ef49, .activityBiteSizePopout_c1d9fd .nameWrap__2ef49 {
    color: rgba(var(--AccentColor), 1);
		text-decoration: none;
}

.channelAppLauncher_e6e74f {
    display: none;
}

/* Voice Messages */
.container_a8e786 {
    background: rgba(var(--AccentColor), 0.25);
    padding: 10px;
		border: 2px dashed rgba(var(--AccentColor), 0.25);
}
.ripple_a8e786 {
    background: rgba(var(--AccentColor), 0.75) !important;
}
.playing_a8e786 .playButtonContainer_a8e786 {
    cursor: crosshair;
    background: rgba(var(--PrimaryBG));
}
#app-mount .container_a8e786:not(.playing_a8e786) .playButtonContainer_a8e786 {
	background: rgba(var(--AccentColor), 1) !important;
}
.playIcon_a8e786 {
		color: rgba(var(--PrimaryBG)) !important;
}
.playing_a8e786 .playIcon_a8e786 {
		color: rgba(var(--AccentColor), 1) !important;
}
.playing_a8e786 .duration_a8e786 {
    color: rgba(var(--PrimaryBG));
		font-weight: 600;
}

#app-mount .waveform_a8e786, #app-mount .canvas__0efdf {
    color: rgba(var(--AccentColor), 1) !important;
}