/* -=-= Unsorted Code (most likely dead code) =-=- */
.actionIcon-2Hi9ZG {
		width: 20px;
		height: 20px;
		color: rgba(var(--AccentColor), 0.5);
}
.actionIcon-2Hi9ZG:hover {
		color: rgba(var(--AccentColor), 1);
}

.icon-2xnN2Y {
		color: rgba(var(--AccentColor), 1) !important;
}

#app-mount .modal-yWgWj- .action-1lSjCi .actionIcon-2IISM_ {
		filter: none;
}

.actionButton-3W1xZa {
		min-height: 25px;
}
.theme-dark .create-3jownz:hover .actionButton-2PeQbJ, .theme-light .create-3jownz:hover .actionButton-2PeQbJ {
		background-color: rgba(var(--AccentColor), 1);
}

.app-2CXKsg button {
		color: rgba(var(--AccentColor), 1);
		cursor: crosshair;
}

#app-mount .scroller-2FKFPG {
		background: rgba(var(--PrimaryBG));
}
.actionButton-uPB8Fs {
		cursor: crosshair;
		width: 35px;
		height: 35px;
		background-color: rgba(var(--SecondaryBG));
}

#emoji-picker-tab-panel foreignObject {
		mask: none !important;
}
