.profilePanel_b433b4 {
    width: 450px;
    position: absolute;
		display: flex;
		right: -110px;
		max-height: calc(100% - 50px);
    background-color: rgba(var(--PrimaryBG));
}
.accountProfilePopoutWrapper_b2ca13 {
    bottom: -10px !important;
		left: -3px !important;
}
.submenuPaddingContainer_d90b3d {
    padding: 0 0;
}
.description_ad5fac {
    display: none;
}

.item_d90b3d[id="account-switch-account"] {
    display: none;
}

.avatarWrapper_b2ca13 {
    margin-right: 0;
    margin-left: 0;
    min-width: 190px;
    padding-left: 0;
}