/* -=-= User Popouts =-=- */
/* Avatar */
.avatarHoverTarget_f89da9 .wrapper_c51b4e svg {
		width: 150px !important;
		height: 150px !important;
		image-rendering: pixelated;
}
.avatarWrapper_f89da9 {
    left: 20px;
}
.avatarPositionPremiumNoBanner_f89da9 {
    top: 35px;
}
.avatarPositionNormal_f89da9 {
		top: 15px;
		margin-left: -5px;
}
.avatarHint-2g3Mcd {
	display: none;
}
.profileBadges-31rDHI {
	top: 10px;
	right: 10px;
	background: transparent
}

/* Banner */
.popoutBanner_c3e427 {
		width: 340px;
}
.popoutBannerPremium_c3e427 {
		width: 340px;
}
.pencilIcon-1MUmnO {
		-webkit-mask: url("https://i.imgur.com/TcSbNGP.png") center/cover;
		width: 20px;
		height: 20px;
}

.userProfileInnerThemedNonPremium_c69a7b {
    background: rgba(var(--SecondaryBG));
}
.scroller_d2b491 {
    background: rgba(var(--PrimaryBG));
    padding: 0 10px;
}

/* Info */
.headerTop-3GPUSF {
		padding: 120px 15px 15px 15px;
		background: rgba(var(--PrimaryBG), 0.5);
}
.userPopout-2j1gM4 {
		width: 315px !important;
}
.body-2wLx-E {
		padding: 10px !important;
		background-color: rgba(var(--PrimaryBG));
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}
.bodyInnerWrapper-2bQs1k {
		background-color: rgba(var(--PrimaryBG));
		color: rgba(var(--AccentColor), 1);
}
.base-21yXnu.muted-eZM05q {
		color: rgba(var(--AccentColor), 1);
}

/* About Me */
.divider_e6f9ab {
	margin: 10px 0 0;
	height: 0;
	border-top: 2px dashed #e91e63;
	background-color: transparent;
}
.aboutMeSection-PUghFQ {
		margin-bottom: 10px;
}
.userInfoTitle-39qq0Y {
		font-weight: 800;
		margin-bottom: 0px;
}
.userInfoSection-3her-v .userInfoBody-1zgAd0 {
		font-size: 15px;
		line-height: 20px;
		color: rgba(var(--AccentColor), 1);
}
.aboutMeGuildIcon-1AzRSE {
    margin-left: 5px;
    margin-top: -1px;
}

/* Custom Status */
.customStatus-3Bvsdb {
		font-size: 15px;
		line-height: 20px;
		color: rgba(var(--AccentColor), 1);
}

/* Media Playback/Activity */
#app-mount .activityProfile_c1d9fd .activityName_c1d9fd,
#app-mount .activityProfile_c1d9fd .content_c1d9fd,
#app-mount .activityProfile_c1d9fd .details_c1d9fd,
#app-mount .activityProfile_c1d9fd .name_c1d9fd,
#app-mount .activityProfile_c1d9fd .nameNormal_c1d9fd,
#app-mount .activityProfile_c1d9fd .nameWrap_c1d9fd,
#app-mount .activityUserPopout_c1d9fd .activityName_c1d9fd,
#app-mount .activityUserPopout_c1d9fd .content_c1d9fd,
#app-mount .activityUserPopout_c1d9fd .details_c1d9fd,
#app-mount .activityUserPopout_c1d9fd .name_c1d9fd,
#app-mount .activityUserPopout_c1d9fd .nameNormal_c1d9fd,
#app-mount .activityUserPopout_c1d9fd .nameWrap_c1d9fd,
#app-mount .activityUserPopoutV2_c1d9fd .activityName_c1d9fd,
#app-mount .activityUserPopoutV2_c1d9fd .content_c1d9fd,
#app-mount .activityUserPopoutV2_c1d9fd .details_c1d9fd,
#app-mount .activityUserPopoutV2_c1d9fd .name_c1d9fd,
#app-mount .activityUserPopoutV2_c1d9fd .nameNormal_c1d9fd,
#app-mount .activityUserPopoutV2_c1d9fd .nameWrap_c1d9fd {
		color: rgba(var(--AccentColor), 1);
}
#app-mount .headerText_c1d9fd {
		color: rgba(var(--AccentColor), 1);
}
.text_ec2fa7 {
		font-weight: 600;
		color: rgba(var(--AccentColor), 1) !important;
}
.barInner_ec2fa7 {
		background-color: rgba(var(--AccentColor), 1) !important;
		min-width: 5px;
}
.bar_ec2fa7 {
		background-color: rgba(var(--SecondaryBG));
		height: 5px;
		margin-bottom: 5px;
}

.buttonColor_e36233 {
	background-color: rgba(var(--SecondaryBG));
	color: rgba(var(--AccentColor), 1);
}

.listenAlongIcon_e364e3 {
		-webkit-mask: url("https://i.imgur.com/frd0rRk.png") no-repeat center/cover;
		width: 22px;
		height: 22px;
		margin-bottom: -2px;
		background: rgba(var(--AccentColor), 1) !important;
		color: rgba(var(--AccentColor), 1) !important;
}

/* Roles */
.role_f9575e {
		font-weight: 600;
		background: rgba(var(--PrimaryBG)) !important;
		height: 20px;
		margin: 0;
		padding: 0;
		border: 1px solid rgba(var(--AccentColor), 1) !important;
}
.role_f9575e>:first-child {
    margin-right: 5px;
    margin-left: 2px;
}
.actionButton_e4010c {
		color: #555;
		width: 20px;
}
.addButtonIcon_e4010c {
		cursor: crosshair;
		width: 20px;
		height: 20px;
}

/* Message Footer */
.section_f2c0a8 {
    display: none;
}

/* Note */
.textarea_dde0a8, .textarea_dde0a8:focus{
		background: transparent;
		color: rgba(var(--AccentColor), 1);
		font-size: 14px;
		line-height: 15px;
		max-height: 100px;
		padding: 5px;
}
.note-Go5ZP2 {
		margin-left: 0;
		margin-right: 0;
}
.messageInputContainer-2rGDH8 {
	display: none;
}

/* Bots */
.sizeSmall-wU2dO- {
		height: 30px;
		min-width: 50px;
		min-height: 30px;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--SecondaryBG));
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
		background-color: rgba(var(--SecondaryBG), 0.5);
}

/* Username and Tag */
.headerTagUsernameBase-XYisdh {
    color: rgba(var(--AccentColor), 1);
}
.headerTag-3GXZkV {
    font-size: 20px;
    font-weight: 600;
}
.discrimBase-1VOoau {
    color: rgba(var(--AccentColor), 0.75);
		font-size: 15px;
		vertical-align: baseline;
}

/* New User popout */
.userPopoutInnerNonPremium-1EOFgI,
.userPopoutInnerWithBanner-wsoegj {
	background: rgba(var(--SecondaryBG));
}
.popoutBanner-16rVDY {
	height: 75px;
}
.popoutBannerPremium-2RvDNZ {
	height: 135px;
}
.roleName_e4010c {
	font-weight: 500;
	color: rgba(var(--AccentColor), 1);;
}

.section-3FmfOT {
	padding: 5px 15px 0px;
}

.overlayBackground_c69a7b {
	margin: 0;
	background: rgba(var(--SecondaryBG));
}
.overlayBackground_c69a7b .scroller-1jBQYo {
	background: rgba(var(--PrimaryBG));
}


.divider__979dc {
    height: 20px;
    width: 2px;
    border-radius: 50%;
    background: rgba(var(--AccentColor), 1);;
}

/*.avatar_c51b4e[src*="https://cdn.discordapp.com/avatar-decoration"] {
    display: none;
}*/

.body_b07019 {
    padding: 0 10px 5px;
    gap: 5px;
}

.activity_cd74cc {
    padding: 0px;
}
.theme-dark.custom-profile-theme .activity_cd74cc {
    background: transparent;
}

.userPopoutInner_c69a7b .container_e5a42d {
    position: absolute;
    top: -140px;
    margin: 0;
    padding: 6px;
    background: rgba(var(--SecondaryBG), 0.75);
    border: none;
}
.body_b07019 {
  overflow: visible !important;
}
.header_b07019 {
  z-index: 0;
}
.bannerSVGWrapper_b32cc2 {
    z-index: 0;
	min-height: 125px !important;
}
.container_c32acf {
  z-index: 9000;
}

.statusBubbleEmojiOnlyPadding_d0a252 {
    padding: 5px;
		top: -55px;
}
.statusBubble_d0a252 {
    background: rgba(var(--SecondaryBG), 0.75);
}
.statusBubbleOuter_d0a252 {
    position: relative;
    background: transparent;
    box-shadow: none;
    border: none;
}
.statusBubbleWithTextPadding_d0a252 {
    padding: 5px;
		top: -55px;
}
.statusText_d0a252 {
    display: inline-block;
    color: rgba(var(--AccentColor), 1);
}
.statusBubbleWithTextMinWidth_d0a252 {
    min-width: 0;
    width: 230px;
}
.statusBubble_d0a252 .statusBubbleWithTextMinWidth_d0a252 {
    min-width: 0;
    width: 230px;
		font-weight: 500;
		background: transparent;
}

.custom-profile-theme.theme-dark .statusBubbleOuter_d0a252 {
    border: none;
}
.custom-profile-theme .themeColor_f9d37d.primary_f9d37d {
    color: rgba(var(--AccentColor), 1);
    background: transparent;
}

.userProfileOuterThemed_c69a7b.userPopoutOuter_c69a7b {
    width: 350px;
}

.statusBubbleWithTextPadding_d0a252 .content_d0a252 {
    font-size: 14px;
		overflow: unset;
		word-wrap: unset;
		min-width: 235px;
		padding: 1px;
}
.statusBubbleOuter_d0a252:before, .statusBubbleOuter_d0a252:after {
    display: none;
}

.custom-profile-theme .invisibleContainer_d0a252.biteSize_d0a252 {
    top: 0;
    left: 0;
		display: none;
}
.visibleContainer_d0a252.biteSize_d0a252 {
    left: 105px;
    top: 135px !important;
}