/* -=-= User Profile =-=- */
.root-8LYsGj .tabBar-2hXqzU {
    gap: 0;
}
.root-8LYsGj .tabBarItem_b9fccc {
    flex: 1;
    text-align: center;
}
.root-8LYsGj .userProfileModalOuter_c69a7b {
    width: 750px;
}

.pronouns-RGQpyK {
    display: block;
    text-align: end;
    margin-top: -50px;
    pointer-events: none;
}
.nameTag-35jqbZ .discriminator-hnHkyt {
    white-space: normal;
    padding-bottom: 25px;
}

/* Toxxy's Background (NOT FIXED) */
.wrapper-3t9DeA[user_by_bdfdb*="359042365970710538"], .wrapper-3t9DeA[data-user-id*="359042365970710538"]{
		--popoutbg: url(https://cdn.discordapp.com/attachments/546244449873821705/645486399025315851/nebula-3840x2160-pink-galaxy-stars-4k-13210.jpg);
}

.infoScroller-1QMpon {
    padding: 0px 10px;
}
.topSection-13QKHs {
		background-color: rgba(var(--SecondaryBG));
		margin-bottom: 0;
}
.body-1Ukv50 {
		background-color: rgba(var(--PrimaryBG));
		height: 250px;
}
.focusLock-2tveLW[aria-label*="User Profile Modal"] .root-8LYsGj {
		width: 750px;
}
.tabBarContainer-sCZC4w {
		border-bottom: 2px dashed rgba(var(--AccentColor), 1);
		padding-left: 0;
		margin: 10px 5px 0;
}
.tabBar-2hXqzU {
		height: 30px;
		background: rgba(var(--PrimaryBG));
		gap: 5px;
}
.top_b3f026 .selected_b3f026.themed_b3f026.item_b3f026 {
    color: rgba(var(--AccentColor), 1);
		border-color: rgba(var(--AccentColor), 1);
    animation: rainbow 3s linear infinite;
}

.tabBarItem_b9fccc {
	text-transform: uppercase !important;
  border: none;
  height: 30px;
  font-size: 18px;
	font-weight: 700;
}

.userBio-2-tr00 {
		margin-bottom: 15px;
		font-size: 15px;
		line-height: 20px;
		color: rgba(var(--AccentColor), 1);
}
.userInfoSection-2u2hir {
		padding: 15px 0 5px 0;
}
.userInfoSection-2u2hir+.userInfoSection-2u2hir {
		border-top: 2px solid rgba(var(--AccentColor), 1);
}
.note-3M15gE textarea {
    padding: 5px;
    line-height: 14px;
}

/* Connections */
.connectedAccountsColumn_e6abe8+.connectedAccountsColumn_e6abe8 {
	margin-left: 10px;
}
.connectedAccountsColumn_e6abe8 {
	margin-left: 0px;
	width: calc(50% - 5px);
}
.connectedAccountContainer_e6abe8 {
	margin-top: 10px;
	padding: 8px;
	width: 250px;
	border: 1px solid rgba(var(--AccentColor), 1);
	background: transparent;
}
.connectedAccountVerifiedIcon_e6abe8 svg {
		-webkit-mask: url("https://i.imgur.com/mz3u9ds.png") center/cover;
		outline: 100px solid rgba(var(--AccentColor), 1);
		outline-offset: -500px;
}
.connectedAccountOpenIcon_e6abe8 {
		-webkit-mask: url("https://i.imgur.com/jUqUct8.png") center/cover;
		background: rgba(var(--AccentColor), 1);
		cursor: crosshair;
}
.connectedAccount_e6abe8 {
    gap: 10px;
}
.tabBarItem_b9fccc {
    margin: 0;
}

.pencilContainer_c3e427 {
    cursor: crosshair;
    padding: 5px;
    background-color: rgba(var(--SecondaryBG), 0.25);
    transition: none;
}
.headerTop-1PNKck {
    top: 15px;
    left: 150px;
    right: 10px;
}

.avatar-3QF_VA {
    top: -75px;
    left: 20px;
}

/* Profile Badges */
.badgeList-2aoHPw {
    padding: 5px 5px;
}
.profileBadge24_b64375 {
    width: 20px;
    height: 20px;
}



.custom-profile-theme .color_f9d37d.text_f1cdcc, .custom-profile-theme .color_f9d37d.icon_fb7f94 {
    background: transparent;
    color: rgba(var(--AccentColor), 1);
    transition: none;
		opacity: 1;
}

:where(.buttonInner_fb7f94).icon_fb7f94 {
    min-width: 25px;
    min-height: 25px;
}
[aria-label="Add Friend"].button_fb7f94 .icon_fb7f94 {
	-webkit-mask: url("https://i.imgur.com/kqeqvXb.png") center/cover;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
[aria-label="Friends"].button_fb7f94 .icon_fb7f94 {
	-webkit-mask: url("https://i.imgur.com/dGBAHCS.png") center/cover;
		background: rgba(var(--AccentColor), 1);
		color: rgba(var(--AccentColor), 1);
}
.wrapper_da5890.biteSize_da5890 .button__201d5 {
    padding: 0;
		margin: 0 0 !important;
}
