/* -=-= User Popouts =-=- */
/* Avatar */
.avatar-2Vndt_ {
		width: 150px !important;
		height: 150px !important;
		image-rendering: pixelated;
}
.avatarPositionNormal-2jWoC2 {
		top: 15px;
}

/* Banner */
.popoutBanner-3cqRD9 {
		width: 315px;
}
.popoutBannerPremium-3i5EEI {
		width: 320px;
}
.pencilIcon-z04-c5 {
		-webkit-mask: url("https://i.imgur.com/TcSbNGP.png") center/cover;
		width: 20px;
		height: 20px;
}

/* Info */
.headerTop-3GPUSF {
		padding: 120px 15px 15px 15px;
		background: rgba(var(--PrimaryBG), 0.5);
}
.userPopout-2j1gM4 {
		width: 315px !important;
}
.body-2wLx-E {
		padding: 10px !important;
		background-color: rgba(var(--PrimaryBG));
		border-top: 2px dashed rgba(var(--AccentColor), 1);
}
.bodyInnerWrapper-2bQs1k {
		background-color: rgba(var(--PrimaryBG));
		color: rgba(var(--AccentColor), 1);
}
.base-21yXnu.muted-eZM05q {
		color: rgba(var(--AccentColor), 1);
}

/* About Me */
.divider-1wtgZ3 {
		display: none;
}
.aboutMeSection-PUghFQ {
		margin-bottom: 10px;
}
.userInfoTitle-39qq0Y {
		font-weight: 800;
		margin-bottom: 0px;
}
.userInfoSection-3her-v .userInfoBody-1zgAd0 {
		font-size: 15px;
		line-height: 20px;
		color: rgba(var(--AccentColor), 1);
}
.aboutMeGuildIcon-1AzRSE {
    margin-left: 5px;
    margin-top: -1px;
}

/* Custom Status */
.customStatus-3XAoF9 {
		margin-bottom: 10px;
		font-size: 15px;
		line-height: 20px;
		color: rgba(var(--AccentColor), 1);
		padding: 0 5px;
}

/* Media Playback/Activity */
#app-mount .newPopoutActivityStyles .activityName-3YXl6e,
#app-mount .newPopoutActivityStyles .content-tXPNDw,
#app-mount .newPopoutActivityStyles .details-2-ciHo,
#app-mount .newPopoutActivityStyles .name-1-Q7l2,
#app-mount .newPopoutActivityStyles .nameNormal-2fPMD2,
#app-mount .newPopoutActivityStyles .nameWrap-3TyM52,
#app-mount .newProfileActivityStyles .activityName-3YXl6e,
#app-mount .newProfileActivityStyles .content-tXPNDw,
#app-mount .newProfileActivityStyles .details-2-ciHo,
#app-mount .newProfileActivityStyles .name-1-Q7l2,
#app-mount .newProfileActivityStyles .nameNormal-2fPMD2,
#app-mount .newProfileActivityStyles .nameWrap-3TyM52e {
		color: rgba(var(--AccentColor), 1);
}
#app-mount .newPopoutActivityStyles .headerText-3g1XK9,
#app-mount .newProfileActivityStyles .headerText-3g1XK9 {
		color: rgba(var(--AccentColor), 1);
}
.text-31kWmP {
		font-weight: 600;
		color: rgba(var(--AccentColor), 1);
}
.barInner-3dHef4 {
		background-color: rgba(var(--AccentColor), 1);
		min-width: 5px;
}
.bar-1GpknY {
		background-color: rgba(var(--SecondaryBG));
		height: 5px;
		margin-bottom: 5px;
}
#app-mount .lookFilled-yCfaCM.colorGrey-2iAG-B {
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--PrimaryBG));
		border: 2px dashed rgba(var(--AccentColor), 1);
}
#app-mount .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
		background-color: rgba(var(--SecondaryBG));
}
#app-mount .lookFilled-yCfaCM.colorGrey-2iAG-B:disabled {
		background-color: rgba(var(--PrimaryBG));
}

.listenAlongIcon-aXq1MH {
		-webkit-mask: url("https://i.imgur.com/frd0rRk.png") no-repeat center/cover;
		width: 22px;
		height: 22px;
		margin-bottom: -2px;
		background: rgba(var(--AccentColor), 1) !important;
		color: rgba(var(--AccentColor), 1) !important;
}

/* Roles */
.role-2TIOKu {
		font-weight: 600;
		background: rgba(var(--PrimaryBG));
		height: 20px;
		margin: 0 3px 3px 0;
		padding: 0;
		border: 1px solid;
}
.actionButton-1YKTU0 {
		color: #555;
		width: 20px;
}
.addButtonIcon-3HZ_2f {
		cursor: crosshair;
		width: 20px;
		height: 20px;
}

/* Message Footer */
.footer-3naVBw {
		display: none;
}

/* Note */
.textarea-_59yqs, .textarea-_59yqs:focus{
		background-color: rgba(var(--PrimaryBG));
		color: rgba(var(--AccentColor), 1);
		font-size: 14px;
		line-height: 15px;
		max-height: 100px;
		padding: 5px;
}
.note-Go5ZP2 {
		margin-left: 0;
		margin-right: 0;
}

/* Bots */
.sizeSmall-wU2dO- {
		height: 30px;
		min-width: 50px;
		min-height: 30px;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
		color: rgba(var(--AccentColor), 1);
		background-color: rgba(var(--SecondaryBG));
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
		background-color: rgba(var(--SecondaryBG), 0.5);
}

/* Username and Tag */
.headerTagUsernameBase-XYisdh {
    color: rgba(var(--AccentColor), 1);
}
.headerTag-3GXZkV {
    font-size: 20px;
    font-weight: 600;
}
.discrimBase-1VOoau {
    color: rgba(var(--AccentColor), 0.75);
		font-size: 15px;
		vertical-align: baseline;
}

/* Status area Profile Popup */
.menu-2-eHMB {
	bottom: -9px !important;
}
.item-1OdjEX.hideInteraction-2jPGL_ {
	bottom: 4px;
}
.profileBody-3QbfPe {
	padding: 0 10px;
}

/* New User popout */
.userPopoutInnerNonPremium-3zrFkp, .userPopoutInnerWithBanner-wsoegj {
	background: rgba(var(--PrimaryBG));
}
.avatar-2OC07D {
	height: 150px !important;
	width: 150px !important;
	image-rendering: pixelated;
}
.overlayBackground-arbZMT {
	margin: 80px 10px 10px;
}
.popoutBanner-16rVDY {
	height: 75px;
}
.popoutBannerPremium-2RvDNZ {
	height: 135px;
}
.betaTag-2bWvGF {
		display: none;
}
.avatarHint-2g3Mcd {
	display: none;
}
.divider-1tWBgZ {
	display: none;
}
.messageInputContainer-2rGDH8 {
	display: none;
}
.roleName-2ZJJYR {
	font-weight: 500;
	color: rgba(var(--AccentColor), 1);;
}