/**
 * @name SimplyDark - Fuchsia Darkness
 * @author toxxy the trash#5015 and Gibbu#1211
 * @version 6.2.1
 * @description makes discord sharp, compact and sexy.
 * @source https://github.com/ToxicMethASS/SDToxxy
*/

@import url("https://toxxythetrash.github.io/SimplyDarkFuchsiaDarkness/base.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css");

:root {
	--SD-avatar-status-width: 2.5px;
	--AccentColor: 233, 30, 99;
	--PrimaryBackgroundColor: 0, 0, 0;
	--SecondaryBackgroundColor: 17, 17, 17;
	--Font: 'Montserrat';
	--CustomSettingsHeaderText: "raincoats are hot";
	--CustomEmailBlur: "this is currently broken";
}
